<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.a7a7.module.basic.BasicDao">
	
	<resultMap id="resultMapObj" type="com.a7a7.module.basic.BasicDto"/>
	
	<!-- ************ 공통 **************** -->
	<select id="cdList"  resultMap="resultMapObj">
		select 
			seq as cd_seq,
			cdName
		from
			code
		where 1=1
	</select>
	
	
	<!--*********** 식료품 ********************-->
	
	<select id="selectGroceryList" resultMap="resultMapObj">
		SELECT
			seq
		    ,gcName
		    ,gcCategory
		    ,gcPrice
		    ,gcStock
		    ,gcUseNy
		    ,gcRegDateTime
		    ,gcModDateTime
		FROM
			grocery
		WHERE
			1=1
		    AND gcDelNy = 0
		ORDER BY
			seq DESC
	</select>
	
	<insert id="GroceryInsert">
		insert into grocery(
			gcName
			,gcCategory
			,gcPrice
			,gcStock
			,gcUseNy
			,gcDelNy
			,gcRegDateTime
		)values(
			#{gcName}
			,#{gcCategory}
			,#{gcPrice}
			,#{gcStock}
			,#{gcUseNy}
			,0
			,now()
		)
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			Select last_insert_id()
		</selectKey>
	</insert>
	
	<select id="selectGroceryView" resultMap="resultMapObj">
		SELECT
			seq
		    ,gcName
		    ,gcCategory
		    ,gcPrice
		    ,gcStock
		    ,gcUseNy
		    ,gcDelNy
		    ,gcRegDateTime
		    ,gcModDateTime
		FROM
			grocery
		WHERE
			1=1
		    AND gcDelNy = 0
		    AND seq = #{seq} 
	</select>
	
	<update id="GroceryUpdate">
		update 
			grocery 
		set
			gcName = #{gcName}
			,gcCategory = #{gcCategory}
			,gcPrice = #{gcPrice}
			,gcStock = #{gcStock}
			,gcUseNy = #{gcUseNy}
			,gcModDateTime = now()
		where
			seq = #{seq}
	</update>
	
	
	<update id="GroceryUelete">
    	UPDATE 
			grocery 
		SET
			gcDelNy = 1
			,gcModDateTime = now()
		WHERE
			seq = #{seq}
	</update>
	
	<select id="findSeqByGcName" resultMap="resultMapObj">
		SELECT
			seq
		FROM
			grocery
		WHERE
			gcName = #{gcName}
	</select>
	
	
	<!--*********** 거래처 ********************-->
	
	<select id="selectAccountList" resultMap="resultMapObj">
		SELECT
			seq
		    ,acName
		    ,acCategory
		    ,acManagerName
		    ,acManagerTel
		    ,acAddress
		    ,acAddressDetail
		    ,acStartDate
		    ,acEndDate
		FROM
			account
		WHERE
			1=1
		    AND acDelNy = 0
		ORDER BY
			seq DESC
	</select>
	
	<select id="selectAccountView" resultMap="resultMapObj">
		SELECT
			seq
		    ,acName
		    ,acCategory
		    ,acManagerName
		    ,acManagerTel
		    ,acAddress
		    ,acAddressDetail
		    ,acStartDate
		    ,acEndDate
		    ,acDelNy
		FROM
			account
		WHERE
			1=1
			AND seq = #{seq}
		    AND acDelNy = 0
	</select>
	
	<insert id="AccountInsert">
		insert into account(
			acName
			,acCategory
			,acManagerName
			,acManagerTel
			,acAddress
			,acAddressDetail
			,acStartDate
			,acEndDate
			,acDelNy
		)values(
			#{acName}
			,#{acCategory}
			,#{acManagerName}
			,#{acManagerTel}
			,#{acAddress}
			,#{acAddressDetail}
			,#{acStartDate}
			,#{acEndDate}
			,0
		)
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			Select last_insert_id()
		</selectKey>
	</insert>
	
	<update id ="AccountUpdate">
		update account 
		set
			acName = #{acName}
			,acCategory = #{acCategory}
			,acManagerName = #{acManagerName}
			,acManagerTel = #{acManagerTel}
			,acAddress = #{acAddress}
			,acAddressDetail = #{acAddressDetail}
			,acStartDate = #{acStartDate}
			,acEndDate = #{acEndDate}
		where
		 	seq = #{seq}
	</update>
	
	
	<update id="AccountUelete">
    UPDATE 
			account 
		SET
			acDelNy = 1
		WHERE
			seq = #{seq} 
	</update>
	
	
	<!--*********** 공장 ********************-->
	
	<select id="selectFactoryList" resultMap="resultMapObj">
		SELECT
			seq
		    ,fcName
		    ,fcManagerName
		    ,fcTel
		    ,fcAddress
		    ,fcAddressDetail
		    ,fcRegDateTime
		    ,fcModDateTime
		    ,fcUseNy
		FROM
			factory
		WHERE
			1=1
		    AND fcDelNy = 0
		ORDER BY
			seq DESC
	</select>
	
	<select id="selectFactoryView" resultMap="resultMapObj">
		SELECT
			seq
		    ,fcName
		    ,fcManagerName
		    ,fcTel
		    ,fcAddress
		    ,fcAddressDetail
		    ,fcRegDateTime
		    ,fcModDateTime
		    ,fcUseNy
		    ,fcDelNy
		FROM
			factory
		WHERE 1=1
			AND seq =#{seq}
		    AND fcDelNy = 0
	</select>
	
	<insert  id="FactoryInsert">
		insert into factory(
			fcName
			,fcManagerName
			,fcTel
		    ,fcAddress
		    ,fcAddressDetail
		    ,fcRegDateTime
		    ,fcUseNy
		    ,fcDelNy
		)values(
		    #{fcName}
		    ,#{fcManagerName}
		    ,#{fcTel}
		    ,#{fcAddress}
		    ,#{fcAddressDetail}
		    ,now()
		    ,#{fcUseNy}
		    ,0
		)
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			Select last_insert_id()
		</selectKey>
	</insert>
	
	<update id="FactoryUpdate">
		update factory 
		set
			fcName = #{fcName}
			,fcManagerName = #{fcManagerName}
			,fcTel = #{fcTel}
		   	,fcAddress = #{fcAddress}
		    ,fcAddressDetail = #{fcAddressDetail}
		    ,fcModDateTime = now()
		    ,fcUseNy = #{fcUseNy}
		where
			seq = #{seq}
	</update>
	
	
	
	
	
	
	
	<update id="FactoryUelete">
	UPDATE 
			factory 
		SET
			fcDelNy = 1
			,fcModDateTime = now()
		WHERE
			seq = #{seq} 
	</update>
</mapper>