<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.a7a7.module.codegroup.CodeGroupDao">
	
	<resultMap id="resultMapObj" type="com.a7a7.module.codegroup.CodeGroupDto"/>
	
	<select id="selectCodeGroupList" resultMap="resultMapObj">
		SELECT
			cg.seq
		    ,cg.cgName
		    ,cg.cgUseNy
		    ,
		    (
		    	SELECT COUNT(*)
		    	FROM 
		    		code cd
		    	WHERE
		    		1=1
		    		AND cd.codeGroup_seq = cg.seq 
		    		AND cd.cdDelNy = 0
		    ) AS cdCount
		    ,cg.cgRegDateTime
		    ,cg.cgModDateTime
		FROM
			codeGroup cg
		WHERE
			1=1
		    AND cgDelNy = 0
		ORDER BY
			seq DESC
	</select>
	
	<select id="selectOneCodeGroup" resultMap="resultMapObj">
		SELECT
			cg.seq
		    ,cg.cgName
		    ,cg.cgUseNy
		FROM
			codeGroup cg
		WHERE
			1=1
		    AND cgDelNy = 0
		    AND seq = #{seq}
	</select>
	
	<insert id="insert">
		INSERT INTO codegroup(
			cgName
			,cgUseNy
			,cgDelNy
			,cgRegDateTime
		) VALUES(
			#{cgName}
			,0
			,0
			,now()
		)
	</insert>
	
	<update id="update">
		UPDATE 
			codegroup 
		SET
			cgName = #{cgName}
			,cgUseNy = #{cgUseNy}
			,cgModDateTime = now()
		WHERE
			seq = #{seq}
	</update>
	
	<update id="uelete">
		UPDATE 
			codegroup 
		SET
			cgDelNy = 1
		WHERE
			seq = #{seq}
	</update>
	
</mapper>