<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.a7a7.module.code.CodeDao">
	
	<resultMap id="resultMapObj" type="com.a7a7.module.code.CodeDto"/>
	
	<select id="selectCodeList" resultMap="resultMapObj">
		SELECT
			cd.seq
		    ,cd.cdName
		    ,cd.cdUseNy
		    ,cd.cdRegDateTime
		    ,cd.cdModDateTime
		    ,cd.codeGroup_seq
		    ,cg.cgName
		FROM
			code cd
			JOIN codeGroup cg ON cg.seq = cd.codeGroup_seq
		WHERE
			1=1
		    AND cdDelNy = 0
		ORDER BY
			seq DESC
	</select>
	
	<select id="selectOneCode" resultMap="resultMapObj">
		SELECT
			cd.seq
		    ,cd.cdName
		    ,cd.cdUseNy
		    ,cd.codeGroup_seq
		FROM
			code cd
		WHERE
			1=1
		    AND cdDelNy = 0
		    AND seq = #{seq}
	</select>
	
	<insert id="insert">
		INSERT INTO code(
			cdName,
			cdUseNy,
			cdDelNy,
			cdRegDateTime,
			codeGroup_seq
		) VALUES(
			#{cdName},
			0,
			0,
			now(),
			#{codeGroup_seq}
		)
	</insert>
	
	<update id="update">
		UPDATE code 
		SET
			cdName = #{cdName},
			cdUseNy = #{cdUseNy},
			cdModDateTime = now(),
			codeGroup_seq = #{codeGroup_seq}
		WHERE
			seq = #{seq}
	</update>
	
	<update id="uelete">
		UPDATE 
			code 
		SET
			cdDelNy = 1
		WHERE
			seq = #{seq}
	</update>
	
	<select id="selectCategory" resultMap="resultMapObj">
		SELECT
			seq 
		    ,cdName
		FROM
			code
		WHERE
			1=1
		    AND codeGroup_seq = #{codeGroup_seq}
		ORDER BY
			seq DESC
	</select>
	
	<select id="selectListCachedCodeArrayList" resultMap="resultMapObj">
		SELECT 
			seq
			,cdName
			,codeGroup_seq
		FROM
			code
		WHERE 1=1
   </select>
	
</mapper>