<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.a7a7.module.delivery.DeliveryDao">
	
	<resultMap id="resultMapObj" type="com.a7a7.module.delivery.DeliveryDto"/>
	
	<select id="selectDeliveryList" resultMap="resultMapObj">
		select 
			seq
			,deliveryStatus
			,deliveryStartDateTime
			,deliveryEndDateTime
			,acOrder_seq
		from
			delivery 
			where 1=1
			and deliveryDelNy = 0
			ORDER BY seq desc
	</select>
	
	<select id="selectDeliveryView" resultMap="resultMapObj">
		select 
			seq
			,deliveryStatus
			,deliveryStartDateTime
			,deliveryEndDateTime
			,acOrder_seq
		from
			delivery 
			where 1=1
			and seq =#{seq}
			ORDER BY seq desc
	</select>
	
	
	<insert id ="deliveryInsert">
		insert into delivery(
			acOrder_seq
			,deliveryStatus
			,deliveryStartDateTime
			,deliveryDelNy
		)values(
			#{acOrder_seq}
			,1
			,now()
			,0
		)
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			Select last_insert_id()
		</selectKey>
		
	</insert>
	
	<update id ="deliveryUpdate">
		update delivery 
		set
		acOrder_seq = #{acOrder_seq}
		,deliveryStatus = #{deliveryStatus}
		,deliveryEndDateTime = now()
		,deliveryDelNy = #{deliveryDelNy}
		where
		seq = #{seq}
	</update>
	
	<update id="deliveryUelete">
		update delivery
		set
		deliveryDelNy = 1
		where seq in
    <foreach collection="seqs" item="seq" open="(" separator="," close=")">
        #{seq}
    </foreach>
	</update>
	
</mapper>