<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.a7a7.module.delivery.DeliveryDao">
	
	<resultMap id="resultMapObj" type="com.a7a7.module.delivery.DeliveryDto"/>
	
	<select id="selectDeliveryList" resultMap="resultMapObj">
		select 
			seq
			,deliveryStatus
			,deliveryStartDateTime
			,deliveryEndDateTime
			,acOrder_seq
		from
			delivery 
			where 1=1
			and deliveryDelNy = 0
			ORDER BY seq desc
	</select>
	
	<select id="selectDeliveryView" resultMap="resultMapObj">
		select 
			seq
			,deliveryStatus
			,deliveryStartDateTime
			,deliveryEndDateTime
			,acOrder_seq
		from
			delivery 
		where 
			1=1
			and seq =#{seq}
	</select>
	
	
	<insert id ="deliveryInsert">
		insert into delivery(
			acOrder_seq
			,deliveryStatus
			,deliveryStartDateTime
			,deliveryDelNy
		)values(
			#{acOrder_seq}
			,1
			,now()
			,0
		)
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			Select last_insert_id()
		</selectKey>
		
	</insert>
	
	<update id ="deliveryUpdate">
		UPDATE 
			delivery 
		SET
			deliveryStatus = #{deliveryStatus}
			,deliveryEndDateTime = now()
		WHERE
			seq = #{seq}
	</update>
	
	<update id="deliveryUelete">
		UPDATE 
			delivery
		SET
			deliveryDelNy = 1
		WHERE
			 seq in
	    <foreach collection="seqs" item="seq" open="(" separator="," close=")">
	        #{seq}
	    </foreach>
	</update>
	
</mapper>