<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.a7a7.module.individualorder.IndividualOrderDao">
	
	<resultMap id="resultMapObj" type="com.a7a7.module.individualorder.IndividualOrderDto"/>
	
	
	<select id="selectIndividualOrderList" resultMap="resultMapObj">
		SELECT
			io.seq
		    ,io.acOrder_seq
		    ,io.ioQuantity
		    ,gc.gcName
		    ,gc.gcPrice
		    ,(io.ioQuantity * gc.gcPrice) as ioTotalPrice
		FROM
			individualorder io
		    JOIN acorder ac ON io.acOrder_seq = ac.seq
		    JOIN grocery gc ON io.grocery_seq = gc.seq
		WHERE
			1=1
		    AND acOrder_seq = #{seq}
		ORDER BY
			seq DESC
	</select>
	
</mapper>