<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.a7a7.module.member.MemberDao">
	
	<resultMap id="resultMapObj" type="com.a7a7.module.member.MemberDto"/>
	
	<select id="loginChk" resultMap="resultMapObj">
		SELECT 
			seq
			,mbName
			,mbId
			,mbPassword
			,mbEmail
		    ,mbRegDateTime
		    ,mbModDateTime
		    ,mbDelNy
		FROM
			member
		WHERE
			1=1
			AND mbId = #{mbId}
			AND mbPassword = #{mbPassword}
	</select>
	
</mapper>