<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.a7a7.module.member.MemberDao">
	
	<resultMap id="resultMapObj" type="com.a7a7.module.member.MemberDto"/>
	
	<select id="loginChk" resultMap="resultMapObj">
		SELECT 
			seq
			,mbName
			,mbId
			,mbPassword
			,mbEmail
		    ,mbRegDateTime
		    ,mbModDateTime
		    ,mbDelNy
		FROM
			member
		WHERE
			1=1
			AND mbId = #{mbId}
			AND mbPassword = #{mbPassword}
			AND mbDelNy = 0
	</select>
	
	<select id="idChk" resultType="Integer">
		SELECT 
			COUNT(*)
		FROM
			member
		WHERE
			1=1
			AND mbId = #{mbId}
			AND mbDelNy = 0
	</select>
	
	<!-- #########################   WEB 화면 ###################  -->
	
	<select id="selectMemberList" resultMap="resultMapObj">
		SELECT 
			seq
			,mbName
			,mbId
			,mbEmail
		    ,mbRegDateTime
		    ,mbModDateTime
		FROM
			member
		WHERE 1=1
			AND mbDelNy = 0
		ORDER BY
			seq DESC
	</select>
	
	<select id="selectMemberView" resultMap="resultMapObj">
		SELECT 
			seq
			,mbName
			,mbId
			,mbPassword
			,mbEmail
		    ,mbRegDateTime
		    ,mbModDateTime
		FROM
			member
		WHERE 1=1
			and seq =#{seq}
			AND mbDelNy = 0
	</select>
	
	<insert id="MemberInsert">
		insert into member(
			seq,
			mbName,
			mbId,
			mbPassword,
			mbEmail,
		    mbRegDateTime,
		    mbDelNy
		)values(
			#{seq},
			#{mbName},
			#{mbId},
			#{mbPassword},
			#{mbEmail},
		    now(),
		    0
		)
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			Select last_insert_id()
		</selectKey>
	</insert>
	
	<update id="MemberUpdate">
		update member
		set
		mbName = #{mbName},
		mbId = #{mbId},
		mbPassword  = #{mbPassword},
		mbEmail  = #{mbEmail},
		mbModDateTime = now(),
		mbDelNy = #{mbDelNy}
		where 1=1
		AND seq = #{seq}
	</update>
	
</mapper>