<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.a7a7.module.ordering.OrderingDao">
	
	<resultMap id="resultMapObj" type="com.a7a7.module.ordering.OrderingDto"/>
	
	<select id="selectList" resultMap="resultMapObj">
		select
			a.seq,
			a.odStatus,
			a.odRegDateTime,
			a.odModDateTime,
			a.odDelNy,
			a.factory_seq,
			a.acOrder_seq
		from
		 	ordering as a
		 	where 1=1
		 	ORDER BY a.seq desc
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			seq,
			odStatus,
			odDelNy,
			factory_seq,
			acOrder_seq
		FROM
			ordering
		WHERE 1=1
			AND seq = #{seq}
		ORDER BY seq DESC
	</select>
	
	<insert id="insert">
		INSERT INTO ordering (
			seq,
			odStatus,
			odRegDateTime,
			odDelNy,
			factory_seq,
			acOrder_seq
		) values (
			#{seq},
			#{odStatus},
			now(),
			#{odDelNy},
			#{factory_seq},
			#{acOrder_seq}
		)
	</insert>
	
	<update id="update">
		UPDATE ordering SET
			odStatus = #{odStatus},
			odModDateTime = now(),
			odDelNy = #{odDelNy},
			factory_seq = #{factory_seq},
			acOrder_seq = #{acOrder_seq}
		WHERE seq = #{seq}
	</update>
	
</mapper>