<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.a7a7.module.order.OrderDao">
	
	<resultMap id="resultMapObj" type="com.a7a7.module.order.OrderDto"/>
	
	<select id="selectOneOrder" resultMap="resultMapObj">
		select
			a.seq
			,a.aoStatus
			,aoQuantity
			,a.account_seq
			,a.grocery_seq
			,a.member_seq
		from
		 	acorder a
		where 
		 	1=1
		 	AND a.seq = #{seq}
	</select>
	
	<select id="selectOrderList" resultMap="resultMapObj">
		select
			a.seq
			,a.aoQuantity
			,a.aoStatus
			,a.aoDateTime
			,a.account_seq
			,ac.acName
			,a.grocery_seq
			,gc.gcName
			,gc.gcPrice
			,gc.gcStock
			,(a.aoQuantity * gc.gcPrice) AS aoTotal
			,a.member_seq
			,mb.mbName
		from
		 	acorder a
		 	JOIN account ac ON ac.seq = a.account_seq
		 	JOIN grocery gc ON gc.seq = a.grocery_seq
		 	JOIN member mb ON mb.seq = a.member_seq
		where 
		 	1=1
		 	AND a.aoDelNy = 0
		ORDER BY a.aoStatus ASC, a.seq DESC
	</select>
	
	<insert id="insert">
		INSERT INTO acorder(
			aoStatus
			,aoQuantity
			,aoDateTime
			,aoDelNy
			,account_seq
			,grocery_seq
			,member_seq
		) VALUES(
			1
			,#{aoQuantity}
			,now()
			,0
			,#{account_seq}
			,#{grocery_seq}
			,#{member_seq}
		)
	</insert>
	
	<update id="update">
		UPDATE acorder
		SET
			aoStatus = #{aoStatus}
			,aoQuantity = #{aoQuantity}
			,account_seq = #{account_seq}
			,grocery_seq = #{grocery_seq}
			,member_seq = #{member_seq}
		WHERE
			seq = #{seq}
	</update>
	
	<update id="uelete">
		UPDATE acorder
		SET
			aoDelNy = 1
		WHERE
			seq = #{seq}
	</update>
	
	<select id="findOrdersByAoStatus1" resultMap="resultMapObj">
		SELECT
			seq
			,aoStatus
			,aoQuantity
			,account_seq
			,grocery_seq
			,member_seq
		FROM
			acOrder
		WHERE
			1=1
			AND aoStatus = 1
			AND aoDelNy = 0
	</select>
	
	<update id="allOrderDeliveryCompleted">
		UPDATE acorder
		SET
			aoStatus = 3
		WHERE
			1=1
			AND aoDelNy = 0
			AND aoStatus = 2
	</update>
	
</mapper>