<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.a7a7.module.ordering.OrderingDao">
	
	<resultMap id="resultMapObj" type="com.a7a7.module.ordering.OrderingDto"/>
	
	<select id="selectOrderingList" resultMap="resultMapObj">
		select
			a.seq,
			a.odStatus,
			a.odStartDateTime,
			a.odEndDateTime,
			a.odQuantity,
			a.odDelNy,
			a.factory_seq,
			a.member_seq,
			a.grocery_seq,
			fc.fcName,
			mb.mbName,
			gc.gcName
		from
		 	ordering a
		 	JOIN factory fc ON fc.seq = a.factory_seq
		 	JOIN member mb ON mb.seq = a.member_seq
		 	JOIN grocery gc ON gc.seq = a.grocery_seq
		where
		    1=1
		    AND a.odDelNy = 0
		    AND a.odStatus = 1
		ORDER BY a.seq desc
	</select>
	
	<select id="selectReceivingList" resultMap="resultMapObj">
		select
			a.seq,
			a.odStatus,
			a.odStartDateTime,
			a.odEndDateTime,
			a.odQuantity,
			a.odDelNy,
			a.factory_seq,
			a.member_seq,
			a.grocery_seq,
			fc.fcName,
			mb.mbName,
			gc.gcName
		from
		 	ordering a
		 	JOIN factory fc ON fc.seq = a.factory_seq
		 	JOIN member mb ON mb.seq = a.member_seq
		 	JOIN grocery gc ON gc.seq = a.grocery_seq
		where
		    1=1
		    AND a.odDelNy = 0
		    AND a.odStatus = 2
		ORDER BY a.seq desc
	</select>
	
	<select id="selectForwardingWaitingList" resultMap="resultMapObj">
		select
			a.seq,
			a.odStatus,
			a.odStartDateTime,
			a.odEndDateTime,
			a.odQuantity,
			a.odDelNy,
			a.factory_seq,
			a.member_seq,
			a.grocery_seq,
			fc.fcName,
			mb.mbName,
			gc.gcName
		from
		 	ordering a
		 	JOIN factory fc ON fc.seq = a.factory_seq
		 	JOIN member mb ON mb.seq = a.member_seq
		 	JOIN grocery gc ON gc.seq = a.grocery_seq
		where
		    1=1
		    AND a.odDelNy = 0
		    AND a.odStatus = 1
		ORDER BY a.seq desc
	</select>
	
	<select id="selectDeliveryCompletedList" resultMap="resultMapObj">
		select
			a.seq,
			a.odStatus,
			a.odStartDateTime,
			a.odEndDateTime,
			a.odQuantity,
			a.odDelNy,
			a.factory_seq,
			a.member_seq,
			a.grocery_seq,
			fc.fcName,
			mb.mbName,
			gc.gcName
		from
		 	ordering a
		 	JOIN factory fc ON fc.seq = a.factory_seq
		 	JOIN member mb ON mb.seq = a.member_seq
		 	JOIN grocery gc ON gc.seq = a.grocery_seq
		where
		    1=1
		    AND a.odDelNy = 0
		    AND a.odStatus = 2
		ORDER BY a.seq desc
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			seq,
			odStatus,
			odQuantity,
			odDelNy,
			factory_seq,
			member_seq,
			grocery_seq
		FROM
			ordering
		WHERE 1=1
			AND seq = #{seq}
		ORDER BY seq DESC
	</select>
	
	<insert id="insert">
		INSERT INTO ordering (
			odStatus,
			odStartDateTime,
			odQuantity,
			odDelNy,
			factory_seq,
			member_seq,
			grocery_seq
		) values (
			1,
			now(),
			#{odQuantity},
			0,
			#{factory_seq},
			#{member_seq},
			#{grocery_seq}
		)
	</insert>
	
	<update id="update">
		UPDATE ordering SET
			odStatus = #{odStatus},
			odQuantity = #{odQuantity},
			factory_seq = #{factory_seq},
			member_seq = #{member_seq},
			grocery_seq = #{grocery_seq}
		WHERE seq = #{seq}
	</update>
	
	<update id="completeUpdate">
		UPDATE ordering SET
			odStatus = 2
			,odEndDateTime = now()
		where seq in
    <foreach collection="seqs" item="seq" open="(" separator="," close=")">
        #{seq}
    </foreach>
	</update>
			
	<update id="uelete">
		UPDATE ordering SET
			odDelNy = 1
		where seq in
    <foreach collection="seqs" item="seq" open="(" separator="," close=")">
        #{seq}
    </foreach>
	</update>
	
</mapper>