<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.a7a7.module.order.OrderDao">
	
	<resultMap id="resultMapObj" type="com.a7a7.module.order.OrderDto"/>
	
	<select id="selectOneOrder" resultMap="resultMapObj">
		select
			a.seq,
			a.acOrderStatus,
			(
			select 
				count(*) 
			from 
				individualorder as b
			where 
				1=1
				AND a.seq = b.acOrder_seq
			) as ioCount,
			a.acOrderDateTime,
			a.account_seq
		from
		 	acorder a
		where 
		 	1=1
		 	AND a.seq = #{acOrder_seq}
		 	AND a.acOrderDelNy = 0
		ORDER BY seq desc
	</select>
	
	<select id="selectOrderList" resultMap="resultMapObj">
		select
			a.seq,
			a.acOrderStatus,
			(
			select 
				count(*) 
			from 
				individualorder as b
			where 
				1=1
				AND a.seq = b.acOrder_seq
			) as ioCount,
			a.acOrderDateTime,
			a.account_seq
		from
		 	acorder a
		where 
		 	1=1
		 	AND a.acOrderDelNy = 0
		ORDER BY seq desc
	</select>
	
	<insert id="insert">
		INSERT INTO acorder(
			acOrderStatus,
			acOrderDateTime,
			acOrderDelNy,
			account_seq
		) VALUES(
			1,
			now(),
			0,
			#{account_seq}
		)
	</insert>
	
</mapper>