<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.a7a7.module.receiving.ReceivingDao">
	
	<resultMap id="resultMapObj" type="com.a7a7.module.receiving.ReceivingDto"/>
	
	<select id="selectList" resultMap="resultMapObj">
		select
			a.seq,
			a.rcStatus,
			a.rcRegDateTime,
			a.rcModDateTime,
			a.rcDelNy,
			a.factory_seq,
			a.individualOrder_seq
		from
		 	Receiving as a
		 	where 1=1
		 	ORDER BY a.seq desc
	</select>
	
	
</mapper>