<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.a7a7.module.receiving.ReceivingDao">
	
	<resultMap id="resultMapObj" type="com.a7a7.module.receiving.ReceivingDto"/>
	
	<select id="selectList" resultMap="resultMapObj">
		select
			a.seq,
			a.rcStatus,
			a.rcRegDateTime,
			a.rcModDateTime,
			a.rcDelNy,
			a.factory_seq,
			a.grocery_seq
		from
		 	Receiving as a
		 	where 1=1
		 	ORDER BY a.seq desc
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			seq,
			rcStatus,
			rcDelNy,
			factory_seq,
			grocery_seq
		FROM
			Receiving
		WHERE 1=1
			AND seq = #{seq}
		ORDER BY seq DESC
	</select>
	
	<insert id="insert">
		INSERT INTO receiving (
			seq,
			rcStatus,
			rcRegDateTime,
			rcDelNy,
			factory_seq,
			grocery_seq
		) values (
			#{seq},
			#{rcStatus},
			now(),
			#{rcDelNy},
			#{factory_seq},
			#{grocery_seq}
		)
	</insert>
	
	<update id="update">
		UPDATE receiving SET
			rcStatus = #{rcStatus},
			rcModDateTime = now(),
			rcDelNy = #{rcDelNy},
			factory_seq = #{factory_seq},
			grocery_seq = #{grocery_seq}
		WHERE seq = #{seq}
	</update>
	
	
</mapper>