<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{web/include/head :: head}"></div>


<body>

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>코드그룹 관리</h4>
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">시스템 관리</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0)">코드 관리</a></li>
                        </ol>
                    </div>
                </div>
                <!-- row -->
                <div class="row">
                    <div class="col-xl-12 col-xxl-12">
                        <div class="card">
                            <div class="card-body">
                                <form method="post" id="form">
                                    <div>
                                        <section>
                                            <div class="row">
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        <label class="text-label">코드그룹 코드</label>
                                                        <input type="text"  maxlength="20" placeholder="자동생성" th:value="${item?.seq}"
	                                                     class="form-control" disabled/>
	                                                    <input type="hidden" name="seq" th:value="${item?.seq}"> 
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        <label for="cgName" class="text-label">코드그룹 이름 *</label>
                                                        <input type="text" id="cgName" name="cgName" class="form-control" placeholder="한글,영대소문자,숫자" th:value="${item?.cgName}" required>    
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        <label class="text-label" for="cgUseNy">사용 *</label>
                                                        <select id="cgUseNy" name="cgUseNy" class="form-control">
																<option value="1" th:selected="${item?.cgUseNy == 1}">사용</option>
																<option value="0" th:selected="${item?.cgUseNy == 0}">사용안함</option>
														</select>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </section>
                                       
                                    </div>
                                    <button type="button" class="btn btn-outline-primary" onclick="location.href='/web/system/codeGroupList'"><i class="fa-solid fa-list"></i></button>
                                    <button type="button" id="btnUel" class="btn btn-danger">
										<i class="fa-regular fa-trash-can"></i>
									</button>
                                    <button type="button" class="btn btn-primary" id="BtnSubmit" style="float: right;"><i class="fa-solid fa-plus"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->




        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->

        
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="/web/template/vendor/global/global.min.js"></script>
    <script src="/web/template/js/quixnav-init.js"></script>
    <script src="/web/template/js/custom.min.js"></script>
    


    <script src="/web/template/vendor/jquery-steps/build/jquery.steps.min.js"></script>
    <script src="/web/template/vendor/jquery-validation/jquery.validate.min.js"></script>
    <!-- Form validate init -->
    <script src="/web/template/js/plugins-init/jquery.validate-init.js"></script>



    <!-- Form step init -->
    <script src="/web/template/js/plugins-init/jquery-steps-init.js"></script>
    
    <script type="text/javascript">
    
    	let goUrlXdmInst = "/web/system/codeGroupInst";
    	let goUrlXdmUpdt = "/web/system/codeGroupUpdt";
    	
    	let seq = document.querySelector("input[name=seq]");
    	
    	document.getElementById("BtnSubmit").onclick = function(){

    		if(seq.value == ""){
    			form.action = goUrlXdmInst;
				form.submit();
    		} else{
    			form.action = goUrlXdmUpdt;
				form.submit();
    		}
    	}
    	
    </script>
    
    <div th:replace="~{web/include/footer :: footer}"></div>

</body>

</html>