<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{web/include/head :: head}"></div>


<body>

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>코드 관리</h4>
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">시스템 관리</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0)">코드 관리</a></li>
                        </ol>
                    </div>
                </div>
                <!-- row -->
                <div class="row">
                    <div class="col-xl-12 col-xxl-12">
                        <div class="card">
                            <div class="card-body">
                                <form method="post" id="form" class="needs-validation" novalidate>
                                    <div>
                                        <section>
                                            <div class="row">
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        <label class="text-label">코드</label>
                                                        <input type="text"  maxlength="20" placeholder="자동생성" 
	                                                     class="form-control" disabled/>
	                                                    <input type="hidden" id="seq" name="seq" th:value="${item?.seq}"> 
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        <label for="cdName" class="text-label">코드 이름 *</label>
                                                        <input type="text" id="cdName" name="cdName" class="form-control" placeholder="한글,영대소문자,숫자" th:value="${item?.cdName}">  
                                                        <div class="invalid-feedback" id="cdNameFeedback">코드 이름을 입력해주세요.</div>    
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        <label class="text-label" for="cdUseNy">사용 *</label>
                                                        <select id="cdUseNy" name="cdUseNy" class="form-control">
																<option value="1" th:selected="${item?.cdUseNy == 1}">사용</option>
																<option value="0" th:selected="${item?.cdUseNy == 0}">사용안함</option>
														</select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        <label class="text-label" for="codeGroup_seq">코드그룹 *</label>
                                                        <select id="codeGroup_seq" name="codeGroup_seq" class="form-control">
															<option disabled hidden th:selected="${item?.codeGroup_seq == null}" value="">선택하세요</option>
															<option th:each="group : ${codeGroup}"
																	th:value="${group.seq}" 
																	th:text="${group.cgName}" 
																	th:selected="${group.seq == item?.codeGroup_seq}">
															</option>
														</select>
														<div class="invalid-feedback">코드그룹을 선택해주세요.</div>  
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </section>
                                       
                                    </div>
                                    <button type="button" class="btn btn-outline-primary" onclick="location.href='/web/system/codeList'"><i class="fa-solid fa-list"></i></button>
                                    <button type="button" class="btn btn-primary" id="BtnSubmit" style="float: right;"><i class="fa-solid fa-plus"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->




        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->

        
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="/web/template/vendor/global/global.min.js"></script>
    <script src="/web/template/js/quixnav-init.js"></script>
    <script src="/web/template/js/custom.min.js"></script>
    


    <script src="/web/template/vendor/jquery-steps/build/jquery.steps.min.js"></script>
    <script src="/web/template/vendor/jquery-validation/jquery.validate.min.js"></script>
    <!-- Form validate init -->
    <script src="/web/template/js/plugins-init/jquery.validate-init.js"></script>



    <!-- Form step init -->
    <script src="/web/template/js/plugins-init/jquery-steps-init.js"></script>
    
    <script type="text/javascript">
    
    	let goUrlXdmInst = "/web/system/codeInst";
    	let goUrlXdmUpdt = "/web/system/codeUpdt";
    	
    	let seq = document.querySelector("input[name=seq]");
    	
    	document.getElementById("cdName").addEventListener("input", function(){
    		cdNameValidation();
    	});
    	
    	document.getElementById("codeGroup_seq").addEventListener("change", function(){
    		codeGroup_seqValidation();
    	});
    	
    	// 코드 이름 Validation
    	function cdNameValidation(){
    		
    	    const cdNameInput = document.getElementById("cdName");
    	    const cdNameValue = cdNameInput.value.trim();
    	    const cdNamePattern = /^[A-Za-z0-9가-힣]{2,20}$/;
    	    const cdNameFeedback = document.getElementById("cdNameFeedback");
    	    
    	    let isValid = true;
    	    
    	    if (cdNameValue === "") {
    	        cdNameInput.classList.add("is-invalid");
    	        cdNameInput.classList.remove("is-valid");
    	        cdNameFeedback.textContent = "코드 이름을 입력해 주세요.";
    	        isValid = false;
    	    } else if (!cdNamePattern.test(cdNameValue)) {
    	        cdNameInput.classList.add("is-invalid");
    	        cdNameInput.classList.remove("is-valid");
    	        cdNameFeedback.textContent = "코드 이름은 공백 없이 한글, 영어 또는 숫자만 입력해 주세요. (2~20자)";
    	        isValid = false;
    	    } else {
    	        cdNameInput.classList.remove("is-invalid");
    	        cdNameInput.classList.add("is-valid");
    	    }
    	    
    	    return isValid;
    	}
    	
    	// 코드그룹 select Validation
    	function codeGroup_seqValidation(){
    		
    	    const codeGroup_seqInput = document.getElementById("codeGroup_seq");
    	    const codeGroup_seqValue = codeGroup_seqInput.value.trim();
    	    
    	    let isValid = true;
    	    
    	    if (codeGroup_seqValue === "") {
    	    	codeGroup_seqInput.classList.add("is-invalid");
    	    	codeGroup_seqInput.classList.remove("is-valid");
    	        isValid = false;
    	    } else {
    	    	codeGroup_seqInput.classList.remove("is-invalid");
    	    	codeGroup_seqInput.classList.add("is-valid");
    	    }
    	    
    	    return isValid;
    	}
    	
    	// 통합 Validation
    	function validation() {

    		let isValid = true;
    		
    		if(!(cdNameValidation() && codeGroup_seqValidation())){
    			isValid = false;
    		}
    		
    		return isValid;
    	}
    	
    	document.getElementById("BtnSubmit").onclick = function(){

    		let form = document.getElementById("form");

    	    // 벨리데이션
    	    if (!validation()) {
    	        return false;
    	    }
    	    
    		if(seq.value == ""){
    			form.action = goUrlXdmInst;
				form.submit();
    		} else{
    			form.action = goUrlXdmUpdt;
				form.submit();
    		}
    		
    	}
    	
    </script>
    
    <div th:replace="~{web/include/footer :: footer}"></div>

</body>

</html>