<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{web/include/head :: head}"></div>

		<form name="formList" id="formList" method="post" autocomplete="off">
        <input type="hidden" name="seq">
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>거래처 관리</h4>
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">기본</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0)">거래처 관리</a></li>
                        </ol>
                    </div>
                </div>
                <!-- row -->


                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">거래처 목록</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                
                                    <table id="example" class="display" style="min-width: 845px">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>seq</th>
                                                <th>거래처명</th>
                                                <th>분류</th>
                                                <th>대표자</th>
                                                <th>전화번호</th>
                                                <th>주소</th>
                                                <th>상세주소</th>
                                                <th>거래시작일</th>
                                                <th>거래종료일</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="item : ${list}">
                                                <td>#</td>
                                                <td name="seq" th:text="${item.seq}"></td>
                                                <td name="acName" th:text="${item.acName}"></td>
                                                <td name="acCategory" th:text="${item.acCategory}"></td>
                                                <td name="acManagerName" th:text="${item.acManagerName}"></td>
                                                <td name="acManagerTel" th:text="${item.acManagerTel}"></td>
                                                <td name="acAddress" th:text="${item.acAddress}"></td>
                                                <td name="acAddressDetail" th:text="${item.acAddressDetail}"></td>
                                                <td name="acStartDate" th:text="${item.acStartDate}"></td>
                                                <td name="acEndDate" th:text="${item.acEndDate}"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    
                                </div>
                                <div class="mt-3">
                                	<button type="button" class="btn btn-danger"><i class="fa-solid fa-x"></i></button>
                                    <button type="button" id="btnUel" class="btn btn-danger"><i
                                            class="fa-regular fa-trash-can"></i></button>
                                    <button type="button" id="btnForm" class="btn btn-primary" style="float: right;"><i
                                            class="fa-solid fa-plus"></i></button>
                                    <button type="button" class="btn btn-success"
                                        style="float: right; margin-right: 4px;"><i
                                            class="fa-regular fa-file-excel"></i></button>
                                    <button type="button" class="btn btn-primary"
                                        style="float: right; margin-right: 4px;"><i class="fa-solid fa-u"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
        </form>
        <!--**********************************
            Content body end
        ***********************************-->

<!--**********************************
       Scripts
   ***********************************-->
   
<!-- Required vendors -->
<script src="/web/template/vendor/global/global.min.js"></script>
<script src="/web/template/js/quixnav-init.js"></script>
<script src="/web/template/js/custom.min.js"></script>

<!-- Datatable -->
<script src="/web/template/vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="/web/template/js/plugins-init/datatables.init.js"></script>

<!--**********************************
       Scripts end
   ***********************************-->
   
<div th:replace="~{web/include/footer :: footer}"></div>

<script type="text/javascript">

	let goUrlXdmForm = "/web/basic/accountForm";
	let goUrlXdmUele = "";

	let seq = document.querySelector("input[name=seq]");
	let form = document.getElementById("formList");
	
	document.getElementById("btnForm").onclick = function () {
	    goForm(0);
	}

	goForm = function (keyValue) {
		
	    seq.value = keyValue;
	    form.action = goUrlXdmForm;
	    form.submit();
	}
</script>

</html>