<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{web/include/head :: head}"></div>

		<form name="formList" id="formList" method="post" autocomplete="off">
        <input type="hidden" name="seq">
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>거래처 관리</h4>
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">기본</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0)">거래처 관리</a></li>
                        </ol>
                    </div>
                </div>
                <!-- row -->


                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">거래처 목록</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                
                                    <table id="example" class="display" style="min-width: 845px">
                                        <thead>
                                            <tr>
                                            	<th style="text-align: center;"><input class="form-check-input" type="checkbox" name ="selectAllCheckbox" id="selectAllCheckbox"></th>
                                                <th>#</th>
                                                <th>seq</th>
                                                <th>거래처명</th>
                                                <th>분류</th>
                                                <th>대표자</th>
                                                <th>전화번호</th>
                                                <th>주소</th>
                                                <th>상세주소</th>
                                                <th>거래시작일</th>
                                                <th>거래종료일</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="item : ${list}">
                                            	<td style="text-align: center;"><input class="form-check-input itemCheckbox" type="checkbox" name="itemCheckbox" id="itemCheckbox" th:value="${item.seq}"></td>
                                                <td>#</td>
                                                <td name="seq" th:text="${item.seq}"></td>
                                                <td name="fcName"><a href="javascript:void(0);" th:text="${item.acName}" th:attr="onclick=|goForm('${item.seq}')|"> 거래처명</a></td>
                                                <td name="acCategory" th:text="${item.acCategory}">분류</td>
                                                <td name="acManagerName" th:text="${item.acManagerName}">대표자</td>
                                                <td name="acManagerTel" th:text="${item.acManagerTel}">전화번호</td>
                                                <td name="acAddress" th:text="${item.acAddress}">주소</td>
                                                <td name="acAddressDetail" th:text="${item.acAddressDetail}">상세주소</td>
                                                <td name="acStartDate" th:text="${item.acStartDate}">거래시작일</td>
                                                <td name="acEndDate" th:text="${item.acEndDate}">거래종료일</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    
                                </div>
                                <div class="mt-3">
                                	<button type="button" class="btn btn-danger"><i class="fa-solid fa-x"></i></button>
                                    <button type="button" id="btnUel" class="btn btn-danger"><i
                                            class="fa-regular fa-trash-can"></i></button>
                                    <button type="button" id="btnForm" class="btn btn-primary" style="float: right;"><i
                                            class="fa-solid fa-plus"></i></button>
                                    <button type="button" class="btn btn-success"
                                        style="float: right; margin-right: 4px;"><i
                                            class="fa-regular fa-file-excel"></i></button>
                                    <button type="button" class="btn btn-primary"
                                        style="float: right; margin-right: 4px;"><i class="fa-solid fa-u"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
        </form>
        <!--**********************************
            Content body end
        ***********************************-->

<!--**********************************
       Scripts
   ***********************************-->
   
<!-- Required vendors -->
<script src="/web/template/vendor/global/global.min.js"></script>
<script src="/web/template/js/quixnav-init.js"></script>
<script src="/web/template/js/custom.min.js"></script>

<!-- Datatable -->
<script src="/web/template/vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="/web/template/js/plugins-init/datatables.init.js"></script>

<!--**********************************
       Scripts end
   ***********************************-->
<div th:replace="~{web/include/footer :: footer}"></div>
<div th:replace="~{web/include/modal :: modal}"></div>
<script type="text/javascript">

	let goUrlXdmForm = "/web/basic/accountForm";
	let goUrlXdmUele = "";

	let seq = document.querySelector("input[name=seq]");
	let form = document.getElementById("formList");
	
	document.getElementById("btnForm").onclick = function () {
	    goForm(0);
	}

	goForm = function (keyValue) {
		
	    seq.value = keyValue;
	    form.action = goUrlXdmForm;
	    form.submit();
	}
	
	/* uelet를 위한 메서드 + dto에 추가해야할 값이 있음. */
	if(document.getElementById("btnUel")){
		document.getElementById("btnUel").onclick = function () {
			document.querySelector("#modalConfirmTitle").textContent = "확 인";
			document.querySelector("#modalConfirmBody").textContent = "해당 데이터를 삭제하시겠습니까 ?";
			document.querySelector("#btnModalUelete").style.display = '';
			document.querySelector("#btnModalDelete").style.display = 'none';
			$("#modalConfirm").modal("show");      	
			}
		}

		document.getElementById("btnModalUelete").onclick = function () {
		
			const query = 'input[name="itemCheckbox"]:checked';
			const selectedElements = document.querySelectorAll(query);
			//체크박스 체크된 항목의 개수
			const selectedElementsCnt = selectedElements.length;
			if(selectedElementsCnt == 0){
		      alert("삭제할 항목을 선택해주세요.");
		      return false;
			}else{
				const selectedValues = [];
				selectedElements.forEach(element => {
	           	 selectedValues.push(element.value);
	        });
			
				seq.value = selectedValues.join(',');
				form.action = "/web/basic/accountUelete";
				form.submit();
			}
		}
</script>

</html>