<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{web/include/head :: head}"></div>


<body>
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>공장 관리</h4>
<!--                             <p class="mb-0">공장관리 등록폼</p> -->
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">기본</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0)">공장 관리</a></li>
                        </ol>
                    </div>
                </div>
                <!-- row -->
                <div class="row">
                    <div class="col-xl-12 col-xxl-12">
                        <div class="card">
                            <div class="card-body">
                                <form method="post" id="form" novalidate>
                                    <div>
                                        <section>
                                            <div class="row">
                                            	<input type="hidden" name="seq" th:value="${vo.seq}">
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        <label class="text-label">공장번호</label><span style="color: crimson;">*</span>
                                                        <input 
	                                                    type="text" 
	                                                    id="seq" 
	                                                    name="seq" 
	                                                    th:value="${item?.seq}" 
	                                                    maxlength="20" 
	                                                    placeholder="자동생성" 
	                                                    disabled class="form-control"/>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        <label for="fcName" class="text-label">공장 이름</label><span style="color: crimson;">*</span>
                                                        <div>
	                                                        <input type="text" id="fcName" name="fcName" th:value="${item?.fcName}" class="form-control" required>
                                                    		<div class="invalid-feedback" id ="fcNameError">Please select a valid state</div>
														</div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        <label for="fcManagerName" class="text-label">공장 담당자</label><span style="color: crimson;">*</span>
                                                        <div>
	                                                       <div>
	                                                        	<input type="text" id="fcManagerName" name="fcManagerName" th:value="${item?.fcManagerName}" class="form-control" required>
																 <div class="invalid-feedback" id ="fcManagerNameError">Please select a valid state</div>
															</div>
														</div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        <label for="fcTel" class="text-label">공장 전화번호</label><span style="color: crimson;">*</span>
                                                        <div>
														   <input type="text" id="fcTel" name="fcTel" th:value="${item?.fcTel}" class="form-control" required>
															<div class="invalid-feedback" id ="fcTelError">Please select a valid state</div>
														</div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        <label class="text-label" for="fcAddress">공장 주소</label><span style="color: crimson;">*</span>
                                                        <div>
	                                                        <select
																id="fcAddress" name="fcAddress" class="form-control" required>
																	<option value="">선택하세요</option>		
																	<option th:each="list: ${@codeService.selectListCachedCode(1)}" th:value="${list.seq}" th:text="${list.cdName}" th:selected = "${list.seq} ==${item?.fcAddress}">1</option>																	
															</select>
															<div class="invalid-feedback" id ="fcAddressError">Please select a valid state</div>
														</div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        <label class="text-label" for="fcAddressDetail">공장 상세주소</label>
                                                        <div>
	                                                         <input type="text" id="fcAddressDetail" name="fcAddressDetail" th:value="${item?.fcAddressDetail}" class="form-control" required>
															<div class="invalid-feedback" id ="fcAddressDetailError">Please select a valid state</div>
														</div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        <label class="text-label" for="fcUseNy">공장 사용여부</label><span style="color: crimson;">*</span>
                                                        <div>
                                                            <select
																id="fcUseNy" name="fcUseNy" class="form-control" required>
																	<option value="">선택하세요</option>
																	<option value="1" th:selected="${item?.fcUseNy == 1 || fcUseNy == null}">사용</option>
                   													<option value="0" th:selected="${item?.fcUseNy == 0}">미사용</option>
															</select>
															<div class="invalid-feedback" id ="fcUseNyError">Please select a valid state</div>
                                                        </div>
                                                    </div>
                                                </div>
                                             
                                            </div>
                                        </section>
                                       
                                    </div>
                                    <button type="button" class="btn btn-outline-primary" onclick="location.href='/web/basic/factoryList'"><i class="fa-solid fa-list"></i></button>
                                    <button type="button" class="btn btn-primary" id="BtnInst" style="float: right;"><i class="fa-solid fa-plus"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->




        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->

        
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="/web/template/jquery/jquery-3.7.1.min.js"></script>
    <script src="/web/template/datetimepicker-master/jquery.datetimepicker.js"></script>
    
    <script src="/web/template/vendor/global/global.min.js"></script>
    <script src="/web/template/js/quixnav-init.js"></script>
    <script src="/web/template/js/custom.min.js"></script>
    


    <script src="/web/template/vendor/jquery-steps/build/jquery.steps.min.js"></script>
    <script src="/web/template/vendor/jquery-validation/jquery.validate.min.js"></script>
    <!-- Form validate init -->
    <script src="/web/template/js/plugins-init/jquery.validate-init.js"></script>
    
    
    


    <!-- Form step init -->
    <script src="/web/template/js/plugins-init/jquery-steps-init.js"></script>
    
    <div th:replace="~{web/include/footer :: footer}"></div>
    
    <script type="text/javascript">
    document.getElementById("BtnInst").onclick = function(){
    	
    	document.getElementById("fcName").classList.remove("is-invalid");
		document.getElementById("fcName").classList.remove("is-valid");
		
	    document.getElementById("fcManagerName").classList.remove("is-invalid");
	    document.getElementById("fcManagerName").classList.remove("is-valid");
	   
	    document.getElementById("fcTel").classList.remove("is-invalid");
	    document.getElementById("fcTel").classList.remove("is-valid");
	   
	    document.getElementById("fcAddress").classList.remove("is-invalid");
	    document.getElementById("fcAddress").classList.remove("is-valid");
	    
	   	document.getElementById("fcUseNy").classList.remove("is-invalid");
	    document.getElementById("fcUseNy").classList.remove("is-valid"); 
	    
	    document.getElementById("fcNameError").textContent = '';  		
  		document.getElementById("fcManagerNameError").textContent = '';
  		document.getElementById("fcTelError").textContent = '';
 		document.getElementById("fcAddressError").textContent = '';
 		document.getElementById("fcUseNyError").textContent = '';
    	
		let isValid = true; 
		
		const name = document.getElementById("fcName").value;
		let n =  /^[가-힣a-zA-Z0-9]{1,15}$/;
		if(name == null || name == ""){
			document.getElementById("fcNameError").textContent = "공장명을 넣어주세요.";
			document.getElementById("fcName").classList.add("is-invalid");
			isValid = false;
		}else if(!n.test(name)){
			document.getElementById("fcNameError").textContent = "허용 글자 수(15)를 초과했습니다.";
			document.getElementById("fcName").classList.add("is-invalid");
			isValid = false;
		}else{
			document.getElementById("fcName").classList.add("is-valid");
		}
			

		const mname = document.getElementById("fcManagerName").value;
		let fn = /^[가-힣0-9]{1,6}$/;
		if(mname == null || mname == ""){
			document.getElementById("fcManagerNameError").textContent = "이름을 넣어주세요.";
			document.getElementById("fcManagerName").classList.add("is-invalid");
			isValid = false;
		}else if(mname.trim() != mname){
			document.getElementById("fcManagerNameError").textContent = "앞 띄어쓰기를 제거해주세요.";
			document.getElementById("fcManagerName").classList.add("is-invalid");
			isValid = false;
		}else if(!fn.test(mname)){
			document.getElementById("fcManagerNameError").textContent = "이름 폼 양식에 맞지않습니다.(한글,6글자 미만)";
			document.getElementById("fcManagerName").classList.add("is-invalid");
			isValid = false;
		}else{
			document.getElementById("fcManagerName").classList.add("is-valid");
		}
		

		const phone = document.getElementById("fcTel").value;
		let result = /^(01[016789]{1})-?[0-9]{3,4}-?[0-9]{4}$/;
		if(phone == null || phone == ""){
			document.getElementById("fcTelError").textContent = "전화번호를 넣어주세요.";
			document.getElementById("fcTel").classList.add("is-invalid");
			isValid = false;
		}else if(!result.test(phone)){
			document.getElementById("fcTelError").textContent = "전화번호 형식에 맞게 넣어주세요.";
			document.getElementById("fcTel").classList.add("is-invalid");
			isValid = false;
		}else{
			document.getElementById("fcTel").classList.add("is-valid");
		}
		
			
		const ad = document.getElementById("fcAddress").value;
		if(ad  == null || ad == ""){
			document.getElementById("fcAddressError").textContent = "카테고리를 선택해주세요";
			document.getElementById("fcAddress").classList.add("is-invalid");
			isValid = false;
		}else{
			document.getElementById("fcAddress").classList.add("is-valid");
		}
		
		const use = document.getElementById("fcUseNy").value;
		if(use  == null || use == ""){
			document.getElementById("fcUseNyError").textContent = "카테고리를 선택해주세요";
			document.getElementById("fcUseNy").classList.add("is-invalid");
			isValid = false;
		}else{
			document.getElementById("fcUseNy").classList.add("is-valid");
		}
		
	
		if(isValid){
    		if(seq.value == "0" || seq.value == "") {
				form.action = "/web/basic/factoryInsert";
				form.submit();
			}else {
				form.action = "/web/basic/factoryUpdate";
				form.submit();
			}
		}
    }
    </script>
    

</body>

</html>