<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{web/include/head :: head}"></div>


<body>

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>공장 관리</h4>
<!--                             <p class="mb-0">공장관리 등록폼</p> -->
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">기본</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0)">공장 관리</a></li>
                        </ol>
                    </div>
                </div>
                <!-- row -->
                <div class="row">
                    <div class="col-xl-12 col-xxl-12">
                        <div class="card">
                            <div class="card-body">
                                <form method="post" id="form">
                                    <div>
                                        <section>
                                            <div class="row">
                                            	<input type="hidden" name="seq" th:value="${vo.seq}">
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        <label class="text-label">공장번호</label><span style="color: crimson;">*</span>
                                                        <input 
	                                                    type="text" 
	                                                    id="seq" 
	                                                    name="seq" 
	                                                    th:value="${item?.seq}" 
	                                                    maxlength="20" 
	                                                    placeholder="자동생성" 
	                                                    disabled class="form-control"/>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        <label for="fcName" class="text-label">공장 이름</label><span style="color: crimson;">*</span>
                                                        <div>
	                                                        <input type="text" id="fcName" name="fcName" th:value="${item?.fcName}" class="form-control">
														</div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        <label for="fcManagerName" class="text-label">공장 담당자</label><span style="color: crimson;">*</span>
                                                        <div>
	                                                       <div>
	                                                        	<input type="text" id="fcManagerName" name="fcManagerName" th:value="${item?.fcManagerName}" class="form-control">
															</div>
														</div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        <label for="fcTel" class="text-label">공장 전화번호</label><span style="color: crimson;">*</span>
                                                        <div>
														   <input type="text" id="fcTel" name="fcTel" th:value="${item?.fcTel}" class="form-control">
														</div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        <label class="text-label" for="fcAddress">공장 주소</label><span style="color: crimson;">*</span>
                                                        <div>
	                                                        <select
																id="fcAddress" name="fcAddress" class="form-control">
																	<option value="">선택하세요</option>										
																	<option value="1" th:selected="${item?.fcAddress}">1</option>										
															</select>
														</div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        <label class="text-label" for="fcAddressDetail">공장 상세주소</label><span style="color: crimson;">*</span>
                                                        <div>
	                                                         <input type="text" id="fcAddressDetail" name="fcAddressDetail" th:value="${item?.fcAddressDetail}" class="form-control">
														</div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        <label class="text-label" for="fcUseNy">공장 사용여부</label><span style="color: crimson;">*</span>
                                                        <div>
                                                            <select
																id="acUseNy" name="fcUseNy" class="form-control">
																	<option value="">선택하세요</option>
																	<option value="1" th:selected="${item?.fcUseNy == 1 || fcUseNy == null}">사용</option>
                   													<option value="0" th:selected="${item?.fcUseNy == 0}">미사용</option>
															</select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mb-4" th:if = "${vo.seq == '0'}"></div>
                                                <div class="col-lg-6 mb-4" th:if = "${vo.seq != '0'}">
                                                    <div class="form-group">
                                                        <label class="text-label" for="fcDelNy">식료품 삭제여부</label><span style="color: crimson;">*</span>
                                                        <div>
                                                            <select
																id="gcDelNy" name="fcDelNy" class="form-control">
																	<option value="">선택하세요</option>
																	<option value="1" th:selected="${item?.fcDelNy == 1}">삭제</option>
                   													<option value="0" th:selected="${item?.fcDelNy == 0}">미삭제</option>
															</select>
                                                        </div>
                                                    </div>
                                                </div> 
                                                
                                        </section>
                                       
                                    </div>
                                    <button type="button" class="btn btn-outline-primary" onclick="location.href='/web/basic/factoryList'"><i class="fa-solid fa-list"></i></button>
                                    <button type="button" class="btn btn-primary" id="BtnInst" style="float: right;"><i class="fa-solid fa-plus"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->




        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->

        
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="/web/template/jquery/jquery-3.7.1.min.js"></script>
    <script src="/web/template/datetimepicker-master/jquery.datetimepicker.js"></script>
    
    <script src="/web/template/vendor/global/global.min.js"></script>
    <script src="/web/template/js/quixnav-init.js"></script>
    <script src="/web/template/js/custom.min.js"></script>
    


    <script src="/web/template/vendor/jquery-steps/build/jquery.steps.min.js"></script>
    <script src="/web/template/vendor/jquery-validation/jquery.validate.min.js"></script>
    <!-- Form validate init -->
    <script src="/web/template/js/plugins-init/jquery.validate-init.js"></script>
    
    
    


    <!-- Form step init -->
    <script src="/web/template/js/plugins-init/jquery-steps-init.js"></script>
    
    <div th:replace="~{web/include/footer :: footer}"></div>
    
    <script type="text/javascript">
    document.getElementById("BtnInst").onclick = function(){
    	if(seq.value == "0" || seq.value == "") {
			form.action = "/web/basic/factoryInsert";
			form.submit();
		}else {
			form.action = "/web/basic/factoryUpdate";
			form.submit();
		}
    }
    </script>
    

</body>

</html>