<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{web/include/head :: head}"></div>

<body>

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>식료품 관리</h4>
<!--                             <p class="mb-0">공장관리 등록폼</p> -->
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">기본</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0)">식료품 관리</a></li>
                        </ol>
                    </div>
                </div>
                <!-- row -->
                <div class="row">
                    <div class="col-xl-12 col-xxl-12">
                        <div class="card">
                            <div class="card-body">
                                  <form method="post" id="form" novalidate>
                                    <div>
                                        <section>
                                            <div class="row">
                                                <div class="col-lg-6 mb-4">
                                                	<!-- <input type="hidden" name="seq"> -->
                                                    <div class="form-group">
                                                    	<input type="hidden" name="seq" th:value ="${vo.seq}">
                                                        <label class="text-label">식료품번호</label><span style="color: crimson;">*</span>
                                                        <input 
	                                                    type="text" 
	                                                    id="seq" 
	                                                    name="seq" 
	                                                    th:value="${item?.seq}" 
	                                                    maxlength="20" 
	                                                    placeholder="자동생성" 
	                                                    disabled class="form-control"/>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        <label for="acName" class="text-label">식료품 이름</label><span style="color: crimson;">*</span>
                                                        <div>
	                                                        <input type="text" id="gcName" name="gcName"  th:value="${item?.gcName}"   class="form-control"> 
														</div>
														<!-- <div class="invalid-feedback" id ="gcNameError">Please select a valid state.</div> -->
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        <label for="gcCategory" class="text-label" >식료품 카테고리</label><span style="color: crimson;">*</span>
                                                        <div>
	                                                        <select
																id="gcCategory" name="gcCategory" class="form-control">
																	<option value="" >선택하세요</option>
																	<option th:each="list: ${lists}" th:value="${list.seq}" th:text="${list.cdName}" th:selected = "${list.seq ==item?.gcCategory}">1</option>
																	<!-- <option th:each="list : ${listCodeGroup}"
																		th:value="${list.factory_seq}" th:text="${list.factory_seq}"
																		th:selected="${list.factory_seq == item?.factory_seq}">
																	</option> -->
															</select>
														</div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        <label for="gcPrice" class="text-label">식료품 가격</label><span style="color: crimson;">*</span>
                                                        <div>
	                                                       <div>
	                                                        	<input type="text" id="gcPrice" name="gcPrice"  th:value="${item?.gcPrice}" class="form-control"> 
															</div>
														</div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        <label for="gcStock" class="text-label">식료품 재고</label><span style="color: crimson;">*</span>
                                                        <div>
	                                                       <div>
	                                                        	<input type="text" id="gcStock" name="gcStock"  th:value="${item?.gcStock}" class="form-control"> 
															</div>
														</div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        <label class="text-label" for="gcUseNy">식료품 사용여부</label><span style="color: crimson;">*</span>
                                                        <div>
                                                            <select
																id="acUseNy" name="gcUseNy" class="form-control">
																	<option value="">선택하세요</option>
																	<option value="1" th:selected="${item?.gcUseNy == 1 || gcUseNy == null}">사용</option>
                   													<option value="0" th:selected="${item?.gcUseNy == 0}">미사용</option>
															</select>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <input type="hidden"  
														id="odDelNy" name="odDelNy" 
														th:value="0" 
														class="form-control" />
                                            </div>
                                        </section>
                                       
                                    </div>
                                    <button type="button" class="btn btn-outline-primary" onclick="location.href='/web/basic/groceryList'"><i class="fa-solid fa-list"></i></button>
                                    <button type="button" id="BtnInst" class="btn btn-primary" style="float: right;"><i class="fa-solid fa-plus"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->




        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->

        
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="/web/template/jquery/jquery-3.7.1.min.js"></script>
    <script src="/web/template/datetimepicker-master/jquery.datetimepicker.js"></script>
    
    <script src="/web/template/vendor/global/global.min.js"></script>
    <script src="/web/template/js/quixnav-init.js"></script>
    <script src="/web/template/js/custom.min.js"></script>
    


    <script src="/web/template/vendor/jquery-steps/build/jquery.steps.min.js"></script>
    <script src="/web/template/vendor/jquery-validation/jquery.validate.min.js"></script>
    <!-- Form validate init -->
    <script src="/web/template/js/plugins-init/jquery.validate-init.js"></script>
    
    
    


    <!-- Form step init -->
    <script src="/web/template/js/plugins-init/jquery-steps-init.js"></script>
    
    <div th:replace="~{web/include/footer :: footer}"></div>
    
    <script src="/web/template/js/plugins-init/jquery-steps-init.js"></script>
    
    <script type="text/javascript">
    document.getElementById("BtnInst").onclick = function(){
    	if(seq.value == "0" || seq.value == "") {
			form.action = "/web/basic/groceryInsert";
			form.submit();
		}else {
			form.action = "/web/basic/groceryUpdate";
			form.submit();
		}
    }
    </script>

</body>

</html>