<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{web/include/head :: head}"></div>

<body>

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>식료품 관리</h4>
<!--                             <p class="mb-0">공장관리 등록폼</p> -->
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">기본</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0)">식료품 관리</a></li>
                        </ol>
                    </div>
                </div>
                <!-- row -->
                <div class="row">
                    <div class="col-xl-12 col-xxl-12">
                        <div class="card">
                            <div class="card-body">
                                  <form method="post" id="form" class="needs-validation" novalidate>
                                    <div>
                                        <section>
                                            <div class="row">
                                                <div class="col-lg-6 mb-4">
                                                	<!-- <input type="hidden" name="seq"> -->
                                                    <div class="form-group">
                                                    	<input type="hidden" name="seq" th:value ="${vo.seq}">
                                                        <label class="text-label">식료품번호</label><span style="color: crimson;">*</span>
                                                        <input 
	                                                    type="text" 
	                                                    id="seq" 
	                                                    name="seq" 
	                                                    th:value="${item?.seq}" 
	                                                    maxlength="20" 
	                                                    placeholder="자동생성" 
	                                                    disabled class="form-control"/>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        <label for="acName" class="text-label">식료품 이름</label><span style="color: crimson;">*</span>
	                                                    <input type="text" id="gcName" name="gcName"  th:value="${item?.gcName}" class="form-control"> 
														<div class="invalid-feedback" id ="gcNameError">Please select a valid state</div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        <label for="gcCategory" class="text-label" >식료품 카테고리</label><span style="color: crimson;">*</span>
	                                                    <select id="gcCategory" name="gcCategory" class="form-control">
																<option value="" >선택하세요</option>
																<option th:each="list: ${lists}" th:value="${list.seq}" th:text="${list.cdName}" th:selected = "${list.seq == item?.gcCategory}">1</option>
														</select>
														<div class="invalid-feedback" id ="gcCategoryError">Please select a valid state</div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        <label for="gcPrice" class="text-label">식료품 가격</label><span style="color: crimson;">*</span>
	                                                    <input type="text" id="gcPrice" name="gcPrice"  th:value="${item?.gcPrice}" class="form-control"> 
	                                                     <div class="invalid-feedback" id ="gcPriceError">Please select a valid state</div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        <label for="gcStock" class="text-label">식료품 재고</label><span style="color: crimson;">*</span>
	                                                    <input type="text" id="gcStock" name="gcStock"  th:value="${item?.gcStock}" class="form-control"> 
	                                                     <div class="invalid-feedback" id ="gcStockError">Please select a valid state</div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        <label class="text-label" for="gcUseNy">식료품 사용여부</label><span style="color: crimson;">*</span>
                                                            <select id="gcUseNy" name="gcUseNy" class="form-control">
																	<option value="">선택하세요</option>
																	<option value="1" th:selected="${item?.gcUseNy == 1 || gcUseNy == null}">사용</option>
                   													<option value="0" th:selected="${item?.gcUseNy == 0}">미사용</option>
															</select>
															<div class="invalid-feedback" id ="gcUseNyError">Please select a valid state</div>
                                                    </div>
                                                </div>
                                                
                                                <input type="hidden"  
														id="odDelNy" name="odDelNy" 
														th:value="0" 
														class="form-control" />
                                            </div>
                                        </section>
                                       
                                    </div>
                                    <button type="button" class="btn btn-outline-primary" onclick="location.href='/web/basic/groceryList'"><i class="fa-solid fa-list"></i></button>
                                    <button type="button" id="BtnInst" class="btn btn-primary" style="float: right;"><i class="fa-solid fa-plus"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->




        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->

        
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
   
    
    <script src="/web/template/vendor/global/global.min.js"></script>
    <script src="/web/template/js/quixnav-init.js"></script>
    <script src="/web/template/js/custom.min.js"></script>
    


    <script src="/web/template/vendor/jquery-steps/build/jquery.steps.min.js"></script>
    <script src="/web/template/vendor/jquery-validation/jquery.validate.min.js"></script>
    <!-- Form validate init -->
    <script src="/web/template/js/plugins-init/jquery.validate-init.js"></script>
   
    
 
    
    <script type="text/javascript">
    document.getElementById("BtnInst").onclick = function(){
    	
    	
    	document.getElementById("gcName").classList.remove("is-invalid");
		document.getElementById("gcName").classList.remove("is-valid");
		
	    document.getElementById("gcCategory").classList.remove("is-invalid");
	    document.getElementById("gcCategory").classList.remove("is-valid");
	   
	    document.getElementById("gcPrice").classList.remove("is-invalid");
	    document.getElementById("gcPrice").classList.remove("is-valid");
	   
	    document.getElementById("gcStock").classList.remove("is-invalid");
	    document.getElementById("gcStock").classList.remove("is-valid");
	    
	   	document.getElementById("gcUseNy").classList.remove("is-invalid");
	    document.getElementById("gcUseNy").classList.remove("is-valid"); 
	    
	    document.getElementById("gcNameError").textContent = '';  		
  		document.getElementById("gcCategoryError").textContent = '';
  		document.getElementById("gcPriceError").textContent = '';
 		document.getElementById("gcStockError").textContent = '';
 		document.getElementById("gcUseNyError").textContent = '';
    	
		let isValid = true; 
		
		const name = document.getElementById("gcName").value;
		let n = /^[가-힣]{1,15}$/;
		if(name == null || name == ""){
			document.getElementById("gcNameError").textContent = "이름을 넣어주세요.";
			document.getElementById("gcName").classList.add("is-invalid");
			isValid = false;
		}else if(!n.test(name)){
			document.getElementById("gcNameError").textContent = "이름이 15글자를 초과했습니다.";
			document.getElementById("gcName").classList.add("is-invalid");
			isValid = false;
		}else{
			document.getElementById("gcName").classList.add("is-valid");
		}
		
		const pr = document.getElementById("gcPrice").value;
		var regex = /^[0-9]*$/; // 숫자만 체크
		if(pr  == null || pr == ""){
			document.getElementById("gcPriceError").textContent = "가격을 넣어주세요";
			document.getElementById("gcPrice").classList.add("is-invalid");
			isValid = false;
		}else if(!regex.test(pr)){
			document.getElementById("gcPriceError").textContent = "숫자만 넣어주세요.";
			document.getElementById("gcPrice").classList.add("is-invalid");
			isValid = false;
		}else{
			document.getElementById("gcPrice").classList.add("is-valid");
		}
		
		const gs = document.getElementById("gcStock").value;
		if(gs  == null || gs == ""){
			document.getElementById("gcStockError").textContent = "가격을 넣어주세요";
			document.getElementById("gcStock").classList.add("is-invalid");
			isValid = false;
		}else if(!regex.test(gs)){
			document.getElementById("gcStockError").textContent = "숫자만 넣어주세요.";
			document.getElementById("gcStock").classList.add("is-invalid");
			isValid = false;
		}else{
			document.getElementById("gcStock").classList.add("is-valid");
		}
			
		const ad = document.getElementById("gcCategory").value;
		if(ad  == null || ad == ""){
			document.getElementById("gcCategoryError").textContent = "카테고리를 선택해주세요";
			document.getElementById("gcCategory").classList.add("is-invalid");
			isValid = false;
		}else{
			document.getElementById("gcCategory").classList.add("is-valid");
		}
		
		const use = document.getElementById("gcUseNy").value;
		if(use  == null || use == ""){
			document.getElementById("gcUseNyError").textContent = "카테고리를 선택해주세요";
			document.getElementById("gcUseNy").classList.add("is-invalid");
			isValid = false;
		}else{
			document.getElementById("gcUseNy").classList.add("is-valid");
		}
    	
    	if(isValid){
    		if(seq.value == "0" || seq.value == "") {
				form.action = "/web/basic/groceryInsert";
				form.submit();
			}else {
				form.action = "/web/basic/groceryUpdate";
				form.submit();
			}
    	}
    }
    </script>
  <div th:replace="~{web/include/footer :: footer}"></div>
</body>

</html>