<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{web/include/head :: head}"></div>


		<form name="formList" id="formList" method="post" autocomplete="off">
        <input type="hidden" name="seq">
        <input type="hidden" name="account_seq" th:value="${order.account_seq}">
        <input type="hidden" name="acOrder_seq" th:value="${order.seq}">
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>상세 주문 관리</h4>
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">기본</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0)">상세 주문 관리</a></li>
                        </ol>
                    </div>
                </div>
                <!-- row -->
				<div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">주문</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-responsive-sm">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;">주문번호</th>
                                       			<th style="text-align: center;">거래처</th>
                                                <th style="text-align: center;">주문 상태</th>
                                       			<th style="text-align: center;">상세 주문 개수</th>
                                                <th style="text-align: center;">주문 시간</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td style="text-align: center;" th:text ="${order.seq}"></td>
                                                <td style="text-align: center;" th:text ="${order.account_seq}"></td>
                                                <td style="text-align: center;" th:text ="${order.acOrderStatus}"></td>
                                                <td style="text-align: center;" th:text ="${order.ioCount}"></td>
                                                <td style="text-align: center;" th:text ="${order.acOrderDateTime}"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">주문 목록</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                
                                    <table id="example" class="display" style="min-width: 845px">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;">#</th>
                                                <th style="text-align: center;">주문 번호</th>
                                       			<th style="text-align: center;">NO</th>
                                       			<th style="text-align: center;">식료품</th>
                                      			<th style="text-align: center;">식료품 가격</th>
                                      			<th style="text-align: center;">주문 갯수</th>
                                      			<th style="text-align: center;">총 가격</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="item : ${list}">
                                                <td style="text-align: center;">#</td>
                                       			<td style="text-align: center;" th:text ="${item.acOrder_seq}"></td>
                                      			<td style="text-align: center;" th:text ="${item.seq}"></td>
                                      			<td style="text-align: center;" th:text ="${item.gcName}"></td>
                                       			<td style="text-align: center;" th:text ="${item.gcPrice}"></td>
                                       			<td style="text-align: center;" th:text ="${item.ioQuantity}"></td>
                                       			<td style="text-align: center;" th:text ="${item.ioTotalPrice}"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    
                                </div>
                                
                                <div class="mt-3">
                                	<button type="button" class="btn btn-danger">
                                		<i class="fa-solid fa-x"></i>
                                	</button>
                                    <button type="button" id="btnUel" class="btn btn-danger">
                                    	<i class="fa-regular fa-trash-can"></i>
                                    </button>
                                    <button type="button" id="btnForm" class="btn btn-primary" style="float: right;">
                                    	<i class="fa-solid fa-plus"></i>
                                    </button>
                                    <button type="button" class="btn btn-success" style="float: right; margin-right: 4px;">
                                    	<i class="fa-regular fa-file-excel"></i>
                                    </button>
                                    <button type="button" class="btn btn-primary" style="float: right; margin-right: 4px;">
                                    	<i class="fa-solid fa-u"></i>
                                    </button>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
        </form>
        <!--**********************************
            Content body end
        ***********************************-->

<!--**********************************
       Scripts
   ***********************************-->
   
<!-- Required vendors -->
<script src="/web/template/vendor/global/global.min.js"></script>
<script src="/web/template/js/quixnav-init.js"></script>
<script src="/web/template/js/custom.min.js"></script>

<!-- Datatable -->
<script src="/web/template/vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="/web/template/js/plugins-init/datatables.init.js"></script>

<script type="text/javascript">

	let goUrlXdmForm = "/web/account/individualOrderForm";
	let goUrlXdmUele = "";

	let seq = document.querySelector("input[name=seq]");
	let form = document.getElementById("formList");
	
	document.getElementById("btnForm").onclick = function () {
	    goForm(0);
	}

	goForm = function (keyValue) {
		
	    seq.value = keyValue;
	    form.action = goUrlXdmForm;
	    form.submit();
	}
</script>

<!--**********************************
       Scripts end
   ***********************************-->
   
<div th:replace="~{web/include/footer :: footer}"></div>

</html>