<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{web/include/head :: head}"></div>


<body>

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>주문 관리</h4>
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">주문 관리</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0)">주문 관리</a></li>
                        </ol>
                    </div>
                </div>
                <!-- row -->
                <div class="row">
                    <div class="col-xl-12 col-xxl-12">
                        <div class="card">
                            <div class="card-body">
                                <form method="post" id="form" class="needs-validation" novalidate>
                                    <div>
                                        <section>
                                            <div class="row">
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        <label class="text-label">주문 번호</label>
                                                        <input type="text" maxlength="20" th:placeholder="자동생성" th:value="${item?.seq}"
	                                                     class="form-control" disabled/>
	                                                    <input type="hidden" id="seq" name="seq" th:value="${item?.seq}">
                                                    </div>
                                                </div>
                                                
                                                
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        <label class="text-label" for="account_seq">거래처 *</label>
                                                        <select id="account_seq" name="account_seq" class="form-control" required>
															<option disabled hidden th:selected="${item?.account_seq == null}" value="">선택하세요</option>
															<option th:each="group : ${accountGroup}"
																	th:value="${group.seq}" 
																	th:text="${group.acName}"
																	th:selected="${group.seq == item?.account_seq}">
															</option>
														</select>
														<div class="invalid-feedback">거래처를 선택해주세요.</div> 
                                                    </div>
                                                </div>
                                                
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        <label class="text-label" for="grocery_seq">상품</label>
                                                        <select id="grocery_seq" name="grocery_seq" class="form-control" required>
															<option disabled hidden th:selected="${item?.grocery_seq == null}" value="">선택하세요</option>
															<option th:each="group : ${groceryGroup}"
																	th:value="${group.seq}" 
																	th:text="${group.gcName}"
																	th:selected="${group.seq == item?.grocery_seq}">
															</option>
														</select>
														<div class="invalid-feedback">상품을 선택해주세요.</div> 
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        <label class="text-label" for="ioQuantity">주문 개수</label>
                                                        <input type="text" id="aoQuantity" name="aoQuantity" maxlength="20" placeholder="숫자" th:value="${item?.aoQuantity}"
	                                                     class="form-control" required/>
	                                                     <div class="invalid-feedback" id="aoQuantityFeedback">주문 개수를 입력해주세요.</div> 
                                                    </div>
                                                </div>
                                                
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        <label class="text-label" for="member_seq">담당자</label>
                                                        <select id="member_seq" name="member_seq" class="form-control" required>
															<option disabled hidden th:selected="${item?.member_seq == null}" value="">선택하세요</option>
															<option th:each="group : ${memberGroup}"
																	th:value="${group.seq}" 
																	th:text="${group.mbName}"
																	th:selected="${group.seq == item?.member_seq}">
															</option>
														</select>
														<div class="invalid-feedback">담당자를 선택해주세요.</div> 
                                                    </div>
                                                </div>
                                                
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        <label class="text-label" for="aoStatus">주문 상태</label>
                                                        <select id="aoStatus" name="aoStatus" class="form-control" th:disabled="${item?.seq == null}">
															<option disabled hidden th:selected="${item?.aoStatus == null}" value="">선택하세요</option>
															<option value="1" th:selected="${item?.aoStatus == 1 or item?.seq == null}">주문 접수</option>
															<option value="2" th:selected="${item?.aoStatus == 2}">진행중</option>
															<option value="3" th:selected="${item?.aoStatus == 3}">주문 완료</option>
															<option value="4" th:selected="${item?.aoStatus == 4}">주문 취소</option>
														</select>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </section>
                                       
                                    </div>
                                    <button type="button" class="btn btn-outline-primary" onclick="location.href='/web/account/orderList'"><i class="fa-solid fa-list"></i></button>
                                    <button type="button" id="btnUel" class="btn btn-danger">
										<i class="fa-regular fa-trash-can"></i>
									</button>
                                    <button type="button" class="btn btn-primary" id="BtnSubmit" style="float: right;"><i class="fa-solid fa-plus"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->




        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->

        
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="/web/template/vendor/global/global.min.js"></script>
    <script src="/web/template/js/quixnav-init.js"></script>
    <script src="/web/template/js/custom.min.js"></script>
    


    <script src="/web/template/vendor/jquery-steps/build/jquery.steps.min.js"></script>
    <script src="/web/template/vendor/jquery-validation/jquery.validate.min.js"></script>
    <!-- Form validate init -->
    <script src="/web/template/js/plugins-init/jquery.validate-init.js"></script>



    <!-- Form step init -->
    <script src="/web/template/js/plugins-init/jquery-steps-init.js"></script>
    
    <script type="text/javascript">
    
    	let goUrlXdmInst = "/web/account/orderInst";
		let goUrlXdmUpdt = "/web/account/orderUpdt";
    	
    	let seq = document.querySelector("input[name=seq]");
    	
    	function validation() {
			
    		// 주문 개수 
    	    const aoQuantityInput = document.getElementById("aoQuantity");
    	    const aoQuantityValue = aoQuantityInput.value.trim();
    	    const aoQuantityPattern = /^[0-9]{1,10}$/;
    	    const aoQuantityFeedback = document.getElementById("aoQuantityFeedback");
    	 	// 거래처 select
    	    const account_seqInput = document.getElementById("account_seq");
    	    const account_seqValue = account_seqInput.value.trim();
    	 	// 상품 select
    	    const grocery_seqInput = document.getElementById("grocery_seq");
    	    const grocery_seqValue = grocery_seqInput.value.trim();
    	 	// 담당자 select
    	    const member_seqInput = document.getElementById("member_seq");
    	    const member_seqValue = member_seqInput.value.trim();
    	    
    	    let isValid = true;

    	 	// 주문 개수 
    	    if (aoQuantityValue === "") {
    	    	aoQuantityInput.classList.add("is-invalid");
    	    	aoQuantityInput.classList.remove("is-valid");
    	    	aoQuantityFeedback.textContent = "주문 개수 입력해 주세요.";
    	        isValid = false;
    	    } else if (!aoQuantityPattern.test(aoQuantityValue)) {
    	    	aoQuantityInput.classList.add("is-invalid");
    	    	aoQuantityInput.classList.remove("is-valid");
    	    	aoQuantityFeedback.textContent = "주문 개수는 공백 없이 숫자만 입력해 주세요. (1~20자)";
    	        isValid = false;
    	    } else {
    	    	aoQuantityInput.classList.remove("is-invalid");
    	    	aoQuantityInput.classList.add("is-valid");
    	    }
    	    // 거래처 select
    	    if (account_seqValue === "") {
    	    	account_seqInput.classList.add("is-invalid");
    	    	account_seqInput.classList.remove("is-valid");
    	        isValid = false;
    	    } else {
    	    	account_seqInput.classList.remove("is-invalid");
    	    	account_seqInput.classList.add("is-valid");
    	    }
    		// 상품 select
    	    if (grocery_seqValue === "") {
    	    	grocery_seqInput.classList.add("is-invalid");
    	    	grocery_seqInput.classList.remove("is-valid");
    	        isValid = false;
    	    } else {
    	    	grocery_seqInput.classList.remove("is-invalid");
    	    	grocery_seqInput.classList.add("is-valid");
    	    }
    		// 담당자 select
    	    if (member_seqValue === "") {
    	    	member_seqInput.classList.add("is-invalid");
    	    	member_seqInput.classList.remove("is-valid");
    	        isValid = false;
    	    } else {
    	    	member_seqInput.classList.remove("is-invalid");
    	    	member_seqInput.classList.add("is-valid");
    	    }

    	    return isValid;
    	}
    	
    	document.getElementById("BtnSubmit").onclick = function(){

    		let form = document.getElementById("form");

    	    // 벨리데이션
    	    if (!validation()) {
    	        form.classList.add('was-validated');
    	        return false;
    	    }
    	    
			if(seq.value == ""){
    			form.action = goUrlXdmInst;
				form.submit();
    		} else{
    			form.action = goUrlXdmUpdt;
				form.submit();
    		}
			
    	}
    	
    </script>
    
    <div th:replace="~{web/include/footer :: footer}"></div>

</body>

</html>