<!DOCTYPE html>
<html lang="kor" xmlns:th="http://www.thymeleaf.org">

<div th:replace= "~{mobile/include/head :: head}"></div>

         <!-- main -->
         <main class="main-content-wrapper">
            <!-- container -->
            <div class="container">
               <!-- row -->
               <div class="row mb-8">
                  <div class="col-md-12">
                     <div class="d-md-flex justify-content-between align-items-center">
                        <!-- page header -->
                        <div>
                           <h2>입고관리</h2>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-12">
                     <!-- card -->
                     <div class="card mb-6 shadow border-0">
                        <!-- card body -->
                        <div class="card-body p-6">
							<form method="post" id="form">
							<input type="hidden" name="seq" th:value="${vo.seq}">
                           <div class="row">
                              <!-- input -->
                              <div class="mb-3">
                                 <label class="form-label">입고번호</label>
                                 <input 
	                                 type="text" 
	                                 id="seq" 
	                                 name="seq" 
	                                 th:value="${item?.seq}" 
	                                 maxlength="20" 
	                                 placeholder="자동생성" 
	                                 disabled class="form-control"/>
                              </div>
                              <!-- input -->
                              <div class="mb-3">
                                 <label class="form-label">공장</label>
									<select id="factory_seq" name="factory_seq" class="form-control">
										<option value="" selected disabled>선택하세요</option>
										<option th:each="list : ${listFactory}"
											th:value="${list.seq}" th:text="${list.fcName}"
											th:selected="${list.seq == item?.factory_seq}">
										</option>
									</select>
                              </div>
                              <!-- input -->
                              <div class="mb-3">
                                 <label class="form-label">입고상태</label>
									<select
										id="rcStatus" name="rcStatus" class="form-control">
											<option value="" disabled th:selected="${item?.rcStatus} == null">선택하세요</option>
											<option value="1" th:selected="${item?.rcStatus == 1}">접수</option>
											<option value="2" th:selected="${item?.rcStatus == 2}">진행중</option>
											<option value="3" th:selected="${item?.rcStatus == 3}">완료</option>
											<option value="4" th:selected="${item?.rcStatus == 4}">취소</option>
									</select>
                              </div>
                              <div class="mb-3">
                                 <label class="form-label">주문번호</label>
									<select
										id="acOrder_seq" name="acOrder_seq" class="form-control">
											<option value="" selected disabled>선택하세요</option>
											<option th:each="list : ${listOrder}"
												th:value="${list.seq}" th:text="${list.seq}"
												th:selected="${list.seq == item?.acOrder_seq}">
											</option>
									</select>
                              </div>
								<input type="hidden"  
									id="rcDelNy" name="rcDelNy" 
									th:value="0" 
									class="form-control" />
                              <div></div>
                              <!-- input -->
                              <div class="mb-2"></div>
                              <div>
                              <button type="button" class="btn btn-outline-primary" onclick="location.href='/mob/factory/ReceivingList'"><i class="fa-solid fa-list"></i></button>
                                 <button type="button" id="btnSave" class="btn btn-primary" style="float: right;"><i class="fa-solid fa-plus"></i></button>
                              </div>
                           </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </main>

	<div th:replace = "~{mobile/include/footer :: footer}"></div>
	
	<script type="text/javascript">
		
		let goUrlXdmInst = "/mob/factory/receivingInst";
		let goUrlXdmUpdt = "/mob/factory/receivingUpdt";
		
		document.getElementById("btnSave").onclick = function() {
			let seq = document.querySelector("input[name=seq]");
			let form = document.getElementById("form");

			if (seq.value == "0" || seq.value == "") { // 추가
				form.action = goUrlXdmInst;
			} else { // 수정
				form.action = goUrlXdmUpdt;
			}

			form.submit();
		}
		
	</script>
	
</html>
