<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{web/include/head :: head}"></div>


<body>

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>발주 관리</h4>
<!--                             <p class="mb-0">공장관리 등록폼</p> -->
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">발주</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0)">발주 관리</a></li>
                        </ol>
                    </div>
                </div>
                <!-- row -->
                <div class="row">
                    <div class="col-xl-12 col-xxl-12">
                        <div class="card">
                            <div class="card-body">
                                <form method="post" id="form">
                                <input type="hidden" name="seq" th:value="${vo.seq}">
                                    <div>
                                        <section>
                                            <div class="row">
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        <label class="text-label">발주번호 *</label>
                                                        <input 
	                                                    type="text" 
	                                                    id="seq" 
	                                                    name="seq" 
	                                                    th:value="${item?.seq}" 
	                                                    maxlength="20" 
	                                                    placeholder="자동생성" 
	                                                    disabled class="form-control"/>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        <label for="factory_seq" class="text-label">공장 *</label>
                                                        <div>
	                                                        <select
																id="factory_seq" name="factory_seq" class="form-control">
																	<option value="" selected disabled>선택하세요</option>
																	<option th:each="list : ${listFactory}"
																		th:value="${list.seq}" th:text="${list.fcName}"
																		th:selected="${list.seq == item?.factory_seq}">
																	</option>
															</select>
														</div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        <label class="text-label" for="odStatus">발주 상태 *</label>
                                                        <div>
	                                                        <select
																id="odStatus" name="odStatus" class="form-control">
																	<option value="1" th:selected="${item?.odStatus} == 1">접수</option>
<!-- 																	<option value="1" th:selected="${item?.odStatus == 1}">접수</option> -->
<!-- 																	<option value="2" th:selected="${item?.odStatus == 2}">진행중</option> -->
<!-- 																	<option value="3" th:selected="${item?.odStatus == 3}">완료</option> -->
<!-- 																	<option value="4" th:selected="${item?.odStatus == 4}">취소</option> -->
															</select>
														</div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        <label class="text-label" for="member_seq">담당자 이름*</label>
                                                        <div>
                                                            <select
																id="member_seq" name="member_seq" class="form-control">
																	<option value="" selected disabled>선택하세요</option>
																	<option th:each="list : ${listMember}"
																		th:value="${list.seq}" th:text="${list.mbName}"
																		th:selected="${list.seq == item?.member_seq}">
																	</option>
															</select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        <label class="text-label" for="grocery_seq">식료품 이름*</label>
                                                        <div>
                                                            <select
																id="grocery_seq" name="grocery_seq" class="form-control">
																	<option value="" selected disabled>선택하세요</option>
																	<option th:each="list : ${listGrocery}"
																		th:value="${list.seq}" th:text="${list.gcName}"
																		th:selected="${list.seq == item?.grocery_seq}">
																	</option>
															</select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 mb-4">
                                                    <div class="form-group">
                                                        <label class="text-label" for="odQuantity">수량*</label>
                                                        <div>
                                                            <input class="form-control"
																	id="odQuantity" name="odQuantity" type="text" th:value="${item?.odQuantity}"
																	placeholder="숫자">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                       
                                    </div >
                                    <button type="button" class="btn btn-outline-primary" onclick="location.href='/web/factory/OrderingList'"><i class="fa-solid fa-list"></i></button>
                                    <button type="button" id="btnSave" class="btn btn-primary" style="float: right;"><i class="fa-solid fa-plus"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->




        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->

        
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="/web/template/vendor/global/global.min.js"></script>
    <script src="/web/template/js/quixnav-init.js"></script>
    <script src="/web/template/js/custom.min.js"></script>
    


    <script src="/web/template/vendor/jquery-steps/build/jquery.steps.min.js"></script>
    <script src="/web/template/vendor/jquery-validation/jquery.validate.min.js"></script>
    <!-- Form validate init -->
    <script src="/web/template/js/plugins-init/jquery.validate-init.js"></script>



    <!-- Form step init -->
    <script src="/web/template/js/plugins-init/jquery-steps-init.js"></script>
    
    <script type="text/javascript">
    
    	let goUrlXdmInst = "/web/factory/OrderingInst";
    	let goUrlXdmUpdt = "/web/factory/OrderingUpdt";
    	
		document.getElementById("btnSave").onclick = function() {
			let seq = document.querySelector("input[name=seq]");
			let form = document.getElementById("form");

			if (seq.value == "0" || seq.value == "") { // 추가
				form.action = goUrlXdmInst;
			} else { // 수정
				form.action = goUrlXdmUpdt;
			}

			form.submit();
		}
    	
    </script>
    
    <div th:replace="~{web/include/footer :: footer}"></div>

</body>

</html>