<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{web/include/head :: head}"></div>

<form name="formList" id="formList" method="post" autocomplete="off">
<input type="hidden" name="seq">
		<input type="hidden" name="odDelNy">
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>입고 관리</h4>
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">공장</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0)">입고 관리</a></li>
                        </ol>
                    </div>
                </div>
                <!-- row -->


                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">입고 목록</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                
                                    <table id="example" class="display" style="min-width: 845px">
                                        <thead>
                                            <tr>
                                            	<th style="text-align: center;"><input class="form-check-input" type="checkbox" name ="selectAllCheckbox" id="selectAllCheckbox"></th>
                                                <th style="text-align: center;">#</th>
                                       			<th style="text-align: center;">발주번호</th>
                                       			<th style="text-align: center;">공장</th>
                                       			<th style="text-align: center;">발주 상태</th>
                                       			<th style="text-align: center;">담당자 이름</th>
                               					<th style="text-align: center;">식료품 이름</th>
                               					<th style="text-align: center;">수량</th>
                                      			<th style="text-align: center;">입고일</th>
                                            </tr>
                                        </thead>
                                        <tbody>
										    <tr th:each="item : ${list}">
										    	<td style="text-align: center;">
													<input 
														class="form-check-input itemCheckbox" 
														type="checkbox" 
														name="itemCheckbox" 
														id="itemCheckbox" 
														th:value="${item.seq}">
												</td>
										        <td style="text-align: center;">#</td>
										   		<td style="text-align: center;" class="seq align-middle fw-semi-bold">
													<a href="javascript:void(0);" th:text="${item.seq}" th:attr="onclick=|goForm('${item.seq}')|"> </a>
												</td>
										        <td style="text-align: center;" th:text ="${item.fcName}"></td>
										        <td style="text-align: center;" th:text ="${item.odStatus}"></td>
										        <td style="text-align: center;" th:text ="${item.mbName}"></td>
												<td style="text-align: center;" th:text ="${item.gcName}"></td>
												<td style="text-align: center;" th:text ="${item.odQuantity}"></td>
										   		<td style="text-align: center;" th:text ="${item.odEndDateTime}"></td>
										    </tr>
										</tbody>
                                    </table>
                                </div>
                                
                                <div class="mt-3">
                                	<button type="button" class="btn btn-danger"><i class="fa-solid fa-x"></i></button>
                                    <button type="button" id="btnUel" class="btn btn-danger"><i
                                            class="fa-regular fa-trash-can"></i></button>
                                </div>
                                
                                <div th:replace="~{web/include/modal :: modal}"></div>
                                    
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
        </form>
        <!--**********************************
            Content body end
        ***********************************-->

<!--**********************************
       Scripts
   ***********************************-->
   
<!-- Required vendors -->
<script src="/web/template/vendor/global/global.min.js"></script>
<script src="/web/template/js/quixnav-init.js"></script>
<script src="/web/template/js/custom.min.js"></script>

<!-- Datatable -->
<script src="/web/template/vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="/web/template/js/plugins-init/datatables.init.js"></script>

<!--**********************************
       Scripts end
   ***********************************-->
   <script type="text/javascript">

	let goUrlXdmForm = "";
	let goUrlXdmUele = "/web/factory/ReceivingUele";

	let seq = document.querySelector("input[name=seq]");
	let form = document.getElementById("formList");
	
	/* uelet를 위한 메서드 + dto에 추가해야할 값이 있음. */
	if(document.getElementById("btnUel")){
		document.getElementById("btnUel").onclick = function () {
			document.querySelector("#modalConfirmTitle").textContent = "확 인";
			document.querySelector("#modalConfirmBody").textContent = "해당 데이터를 삭제하시겠습니까 ?";
			document.querySelector("#btnModalUelete").style.display = '';
			document.querySelector("#btnModalDelete").style.display = 'none';
			$("#modalConfirm").modal("show");      	
			}
		}

		document.getElementById("btnModalUelete").onclick = function () {
		
			const query = 'input[name="itemCheckbox"]:checked';
			const selectedElements = document.querySelectorAll(query);
			//체크박스 체크된 항목의 개수
			const selectedElementsCnt = selectedElements.length;
			if(selectedElementsCnt == 0){
		      alert("삭제할 항목을 선택해주세요.");
		      return false;
			}else{
				const selectedValues = [];
				selectedElements.forEach(element => {
	           	 selectedValues.push(element.value);
	        });
			
				seq.value = selectedValues.join(',');
				form.action = goUrlXdmUele;
				form.submit();
			}
		}
   </script>
   
<div th:replace="~{web/include/footer :: footer}"></div>

</html>