<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="footer">
     <!-- Libs JS -->

<script src="/mobile/template/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/mobile/template/assets/libs/simplebar/dist/simplebar.min.js"></script>


<!-- Theme JS -->
<script src="/mobile/template/assets/js/theme.min.js"></script>

	<script type="text/javascript">
    const URL_SIGNIN_FORM_XDM = "/mob/login"
	const URL_SIGNOUT_PROC_XDM = "/mob/logoutProc"
	const URL_INDEX_VIEW_XDM = "/mob/"
	
	
		document.getElementById("btnSignout").onclick = function(){
			$.ajax({
				async: true 
				,cache: false
				,type: "post"
				,url: URL_SIGNOUT_PROC_XDM
				,data: {}
				,success: function(response) {
					if(response.rt == "success") {
						location.href = URL_SIGNIN_FORM_XDM;
					} else {
						// by pass
					}
				}
				,error : function(jqXHR, textStatus, errorThrown){
					alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
				}
			});
		};
  </script>
</th:block>