<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{web/include/head :: head}"></div>

		<form name="formList" id="formList" method="post" autocomplete="off">
        <input type="hidden" name="seq">
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>배송내역</h4>
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">기본</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0)">배송 관리</a></li>
                        </ol>
                    </div>
                </div>
                <!-- row -->


                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                            	<div class="col">
                                	<h4 class="card-title">배송 목록</h4>
                                </div>
                                <div class="col text-right">
                                	<button type="button" class="btn btn-google" id="btnDeli">배송 완료</button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                
                                    <table id="example" class="display" style="min-width: 845px">
                                        <thead>
                                            <tr>
                                            	<th style="text-align: center;">
                                            		<div class="d-flex justify-content-center align-items-center">
                                            			<input class="form-check-input" type="checkbox" name ="selectAllCheckbox" id="selectAllCheckbox">
                                            		</div>
                                            	</th>
                                       			<th style="text-align: center;">배송 번호</th>
                                       			<th style="text-align: center;">주문 번호</th>
                                      			<th style="text-align: center;">배송 상태</th>
                                       			<th style="text-align: center;">배송 시작 시간</th>
                                       			<th style="text-align: center;">배송 종료 시간</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="item : ${list}">
                                            	<td style="text-align: center;">
                                            		<div class="d-flex justify-content-center align-items-center">
                                            			<input class="form-check-input itemCheckbox" type="checkbox" name="itemCheckbox" id="itemCheckbox" th:value="${item.seq}">
                                            			<input type="hidden" id="deliveryStatus" th:value="${item.deliveryStatus}">
                                            		</div>		
                                            	</td>
                                       			<td style="text-align: center;" th:text ="${item.seq}"></td>
                                       			<td style="text-align: center;" name="acOrder_seq" th:text ="${item.acOrder_seq}">주문 번호</td>
                                       
                                
                                      			<td style="text-align: center;" name="deliveryStatus" th:if ="${item.deliveryStatus == 1}"><span class="badge badge-pill badge-success">배송중</span></td>
                                       			<td style="text-align: center;" name="deliveryStatus" th:if ="${item.deliveryStatus == 2}"><span class="badge badge-pill badge-light">배송 완료</span></td>
                                       
                                       			<td style="text-align: center;" name="deliveryStartDateTime" th:text ="${item.deliveryStartDateTime}">배송 시작 시간</td>
                                       			<td style="text-align: center;" name="deliveryEndDateTime" th:text ="${item.deliveryEndDateTime}">배송 종료 시간</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    
                                </div>
                                
                                <div class="mt-3">
                                    <button type="button" id="btnUel" class="btn btn-danger">
                                    	<i class="fa-regular fa-trash-can"></i>
                                    </button>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
        </form>
        <!--**********************************
            Content body end
        ***********************************-->

<!--**********************************
       Scripts
   ***********************************-->
   
<!-- Required vendors -->
<script src="/web/template/vendor/global/global.min.js"></script>
<script src="/web/template/js/quixnav-init.js"></script>
<script src="/web/template/js/custom.min.js"></script>

<!-- Datatable -->
<script src="/web/template/vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="/web/template/js/plugins-init/datatables.init.js"></script>

<!--**********************************
       Scripts end
   ***********************************-->
<div th:replace="~{web/include/footer :: footer}"></div>
<div th:replace="~{web/include/modal :: modal}"></div>	<!-- uelete에 필요함 -->

<script type="text/javascript">

	// 배송 Form
	let goUrlXdmForm = "/web/delivery/deliveryForm";
	let goUrlXdmUele = "";

	let seq = document.querySelector("input[name=seq]");
	let form = document.getElementById("formList");
	
	document.getElementById("btnForm").onclick = function () {
	    goForm(0);
	}

	goForm = function (keyValue) {
	    seq.value = keyValue;
	    form.action = goUrlXdmForm;
	    form.submit();
	}
	
	// 배송완료 button click
	document.getElementById("btnDeli").onclick = function () {
		document.querySelector("#modalConfirmTitle").textContent = "배송 완료";
		document.querySelector("#modalConfirmBody").textContent = "배송 완료 처리하시겠습니까?";
		document.querySelector("#btnModalDeli").style.display = '';
		document.querySelector("#btnModalUelete").style.display = 'none';
		document.querySelector("#btnModalDelete").style.display = 'none';
		$("#modalConfirm").modal("show");      	
	}
	// Modal 배송완료 button click
	document.getElementById("btnModalDeli").onclick = function () {
		
		const query = 'input[name="itemCheckbox"]:checked';
		const selectedElements = document.querySelectorAll(query);
		//체크박스 체크된 항목의 개수
		const selectedElementsCnt = selectedElements.length;
		if(selectedElementsCnt == 0){
	      alert("배송 완료 처리할 항목을 선택해주세요.");
	      return false;
		}else{
			const selectedValues = [];
			
			for(const element of selectedElements){
	           	 selectedValues.push(element.value);
	           	 
	           	const tr = element.closest('tr');
	            if(tr.querySelector('#deliveryStatus').value == 2){
	        		document.querySelector("#modalConfirmTitle").textContent = "확 인";
	        		document.querySelector("#modalConfirmBody").textContent = "이미 배송 완료된 건이 포함되어 있습니다.";
	        		document.querySelector("#btnModalDeli").style.display = 'none';
	        		document.querySelector("#btnModalUelete").style.display = 'none';
	        		document.querySelector("#btnModalDelete").style.display = 'none';
	        		$("#modalConfirm").modal("show"); 
	        		return;
	            }
	            
	        };
			
			seq.value = selectedValues.join(',');
			form.action = "/web/delivery/deliveryCompleted";
			form.submit();
			
		}
	}
	
	
	// Uelete Button Click
	document.getElementById("btnUel").onclick = function () {
		document.querySelector("#modalConfirmTitle").textContent = "확 인";
		document.querySelector("#modalConfirmBody").textContent = "해당 데이터를 삭제하시겠습니까 ?";
		document.querySelector("#btnModalDeli").style.display = 'none';
		document.querySelector("#btnModalUelete").style.display = '';
		document.querySelector("#btnModalDelete").style.display = 'none';
		$("#modalConfirm").modal("show");      	
	}
	// Modal Uelete Button Click
	document.getElementById("btnModalUelete").onclick = function () {
	
		const query = 'input[name="itemCheckbox"]:checked';
		const selectedElements = document.querySelectorAll(query);
		//체크박스 체크된 항목의 개수
		const selectedElementsCnt = selectedElements.length;
		if(selectedElementsCnt == 0){
	      alert("삭제할 항목을 선택해주세요.");
	      return false;
		}else{
			const selectedValues = [];
			selectedElements.forEach(element => {
           	 selectedValues.push(element.value);
        });
		
			seq.value = selectedValues.join(',');
			form.action = "/web/delivery/deliveryUelete";
			form.submit();
		}
	}
	
</script>

</html>